
.menu1-content {
}

.ob-slide-box {
    height: auto;
}

.ob-slide {
}

/* ********** ********** ********** ********** ***********/
/* overrides */
/* ********** ********** ********** ********** ***********/

.sub-instructions {
    margin-bottom: 24px;
}

.ob-form {
    margin-bottom: 10px;
}

/* ********** ********** ********** ********** ***********/
/* create-event-main */
/* ********** ********** ********** ********** ***********/

.ob-blue-text {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #3884ed;
}

.ob-date-prompt-text {
    display: inline-block;
    margin: 12px 0px 12px 11px;
}

.ob-date {
    display: inline-block;
    margin: 12px 0px 12px 12px;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bcbbbb;
    border-bottom: 1px solid #3884ed;
}

.ob-date-picker-button {
    float: right;
    width: 18px;
    height: 18px;
    margin: 13px 9.5px;
}

/* ********** ********** ********** ********** ***********/
/* create-event-picture-description */
/* ********** ********** ********** ********** ***********/

.ob-row-picture-upload-top-section {
    position: relative;
    height: 150px;
}

.picture-upload-placeholder {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 117px;
}

.picture-upload-plus-icon {
    width: 15.5px;
    height: 15.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.picture-upload-e-tag {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

.ob-form-textarea {
    height: 124px;
}

/* ********** ********** ********** ********** ***********/
/* create-event-location */
/* ********** ********** ********** ********** ***********/

.ob-event-create-map-container {
    background: transparent url("../img/event-profile/tmp/event-creation-map.png") center/100% 100% no-repeat;
    width: 300px;
    height: 168px;
    border-radius: 8px;
    margin: 9px auto 0px;
}

/* ********** ********** ********** ********** ***********/
/* ob-userlist */
/* ********** ********** ********** ********** ***********/

.ob-userlist {
    margin-bottom: 4px;
}

.ob-userlist-row {
    width: 100%;
    height: 72px;
    color: white;
    border-bottom: 1px solid #898787;
}

.ob-userlist-row:active {
    background-color: white;
}

.ob-userlist-image {
    float: left;
    width: 60px;
    height: 60px;
    margin: 4px 10px;
}

.ob-userlist-text-column {
    height: 100%;
    display: table;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 14px;
}

.ob-userlist-text-block {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.ob-userlist-user-name {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15.5px;
}

.ob-userlist-mutual-friend-count {

}
