
.register-class-content1 {
    background: url("../img/Blue-Top-Gradient.png") center top/100% 34.243% no-repeat,
                url("../img/register-class/tmp/background-blur.png") center/100% 100% no-repeat,
                url("../img/sign-up/Background-Image.png") center/100% 100% no-repeat;
}

.register-class-content1-div {
    border: 1px solid transparent;
}

.main-instructions {
    width: 220px;
    margin: 23px auto 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.sub-instructions {
    width: 200px;
    margin: 10px auto 43px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.ob-form {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #7f7b73;
    margin: 0px 9px 0px;
}

.ob-form-row {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #7f7b73;
}

.ob-form-row:last-child {
    border-bottom: none;
}

.ob-form-input-container {
    display: inline-block;
    padding: 5px 13px;
    width: 100%;
}

.ob-form-row input {
    background: transparent;
    border: none;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: white;
}

.ob-form-row input::-webkit-input-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #777676;
}

.ob-form-row input:-moz-placeholder { /* Firefox 18- */
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #777676;
}

.ob-form-row input::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #777676;
}

.ob-form-row input:-ms-input-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #777676;
}

.block-blue-button {
    display: block;
    width: 301px;
    border-radius: 5px;
    border: none;
    background-color: #3884ed;
    margin: 15px auto 11px;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.69px;
    color: white;
    padding: 8px 0px;
}

.block-blue-button:active {
    background-color: #3172cc;
}

.block-transparent-button {
    display: block;
    margin: 0px auto;
    background: transparent;
    border: none;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;
    color: white;
}

.block-transparent-button:active {
    color: #888888;
}
