
/* ********** ********** ********** ********** ***********/
/* overrides */
/* ********** ********** ********** ********** ***********/

.main-instructions {
    margin-bottom: 100px;
}

/* ********** ********** ********** ********** ***********/
/* misc */
/* ********** ********** ********** ********** ***********/

.ob-form {
    margin-bottom: 0px;
}

.block-blue-button:last-child {
    margin-top: 8px;
}

.ob-divider {
    margin: 50px auto;
    width: 90%;
    border: 1px solid #999999;
}
