
.ob-sectioned-row {
    display: -mox-flex;
    display: -webkit-flex;
    display: flex;
}

.ob-sectioned-row > .left-prompt-text {
    -moz-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 12px 0px 12px 11px;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
}

.ob-sectioned-row > .main-content {
    -moz-flex: 99 99 auto;
    -webkit-flex: 99 99 auto;
    flex: 99 99 auto;
    padding: 11px 10px;
}

.ob-tag-2 {
    display: inline-block;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom: 11px;
}

.ob-tag-2:last-child {
    margin-bottom: 0px;
}

.ob-sectioned-row > .right-icon-container {
    -moz-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -moz-align-self: flex-end;
    -webkit-align-self: flex-end;
    align-self: flex-end;
    padding: 6px 9px;
}

.ob-sectioned-row > .right-icon-container > .small-plus-icon {
    width: 18px;
    height: 18px;
}

.ob-form-textarea {
    resize: none;
    background: transparent;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5;
    color: white;
    padding: 11px;
    height: 90px;
}

.ob-form-textarea::-webkit-input-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bebbbb;
}

.ob-form-textarea:-moz-placeholder { /* Firefox 18- */
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bebbbb;
}

.ob-form-textarea::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bebbbb;
}

.ob-form-textarea:-ms-input-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bebbbb;
}
