
.ob-event-create-search-field-row {
    -moz-display: flex;
    -webkit-display: flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.magnifier-icon {
    flex: 0 0 16px;
    height: 16px;
    margin: 13px;
}

.ob-event-create-search-field-container {
    flex: 1 1 auto;
    overflow: hidden;
    margin: 4px 8px 4px 2px;
}

.ob-event-create-search-field {
    background: transparent;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.7px;
    color: white;
}

.ob-event-create-search-field:hover {
}

.ob-event-create-search-field:focus {
    color: white;
}

.ob-event-create-search-field::-webkit-input-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.7px;
    color: #bebdbd;
}

.ob-event-create-search-field:-moz-placeholder { /* Firefox 18- */
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.7px;
    color: #bebdbd;
}

.ob-event-create-search-field::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.7px;
    color: #bebdbd;
}

.ob-event-create-search-field:-ms-input-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.7px;
    color: #bebdbd;
}

.ob-event-create-map-container {
    background: transparent url("../img/event-profile/tmp/event-creation-map.png") center/100% 100% no-repeat;
    width: 300px;
    height: 168px;
    border-radius: 8px;
    margin: 9px 9px 0px;
}
