
.ob-form-textarea2 {
    background: transparent;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5;
    color: white;
    padding: 11px;
    display: inline-block;
    min-height: 150px;
    max-height: 190px;
    overflow: hidden;
}

/*
.ob-form-textarea2::-webkit-input-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bebbbb;
}

.ob-form-textarea2:-moz-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bebbbb;
}

.ob-form-textarea2::-moz-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bebbbb;
}

.ob-form-textarea2:-ms-input-placeholder {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: #bebbbb;
}

.ob-form-textarea2:active,
.ob-form-textarea2:focus {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: white;
}
*/

.ob-tag1 {
    display: inline-block;
    border: 1px solid white;
    border-radius: 16px;
    color: white;
    padding: 6px 8px;
    margin: 0px 4px 7px 0px;
}
