
.tos {
    padding: 0.5em;
    background-color: rgb(244, 244, 244);
    color: rgb(80, 80, 80);
}

.tos h1 {
    font-size: 2.0em;
    padding-bottom: 0.3em;
}

.tos h2 {
    font-size: 1.2em;
    text-decoration: underline;
}

.tos h3 {
    font-size: 1.2em;
}

.tos p {
    font-size: 1.0em;
}

.tos .strong {
    font-weight: bold;
}

.tos a {
    color: rgb(255, 78, 84);
}
