
.ob-search-list-view {
    background: url("/img/tmp/Blue-Top-Gradient.png") center top/100% 34.243% no-repeat,
                url("/img/map/tmp/darken-layer.png") center/100% 100% no-repeat,
                url("/img/map/tmp/map-background.png") center/100% 100% no-repeat;
}

/* ********** ********** ********** ********** ***********/
/* headers */
/* ********** ********** ********** ********** ***********/

.ob-trainer-bar-container {
    margin-top: 17px;
    padding: 0px;
    height: 44px;
    z-index: 50;
    background: transparent;
}

.ob-trainer-bar {
    -moz-display: flex;
    -webkit-display: flex;
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
}

.ob-trainer-bar-button {
    -moz-flex: 1 1 0px;
    -webkit-flex: 1 1 0px;
    flex: 1 1 0px;
    background: rgb(53, 127, 230);
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 14px;
    border: 1px solid white;
    border-right: none;
    border-top: none;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
}

.ob-trainer-bar-button:first-child {
    border-left: none;
}

.ob-trainer-bar-button-selected {
    background: rgb(56, 132, 237);
}

/* ********** ********** ********** ********** ***********/
/* misc */
/* ********** ********** ********** ********** ***********/

.ob-search-list-view-content {
    /*
    background: url("../img/map/tmp/darken-layer.png") center/100% 100% no-repeat,
                url("../img/map/tmp/map-background.png") center/100% 100% no-repeat;
                */
}

/* ********** ********** ********** ********** ***********/
/* ob-search-list */
/* ********** ********** ********** ********** ***********/

.ob-search-list {
    padding-top: 17px;
}

.ob-search-list-row {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    background: transparent;
    border-bottom: 1px solid #a2a1a0;
}

.ob-search-list-row:first-child {
    border-top: 1px solid #a2a1a0;
}

.ob-search-list-row-left {
    -moz-flex: 0 0 calc(7px + 38px + 7px);
    -webkit-flex: 0 0 calc(7px + 38px + 7px);
    flex: 0 0 calc(7px + 38px + 7px);
}

.ob-search-list-img {
    display: block;
    margin: auto;
    width: 38px;
    height: 38px;
}

.ob-search-list-row-right {
    -moz-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px 7px 10px 4px;
}

.ob-search-list-text {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    color: white;
}

.ob-search-list-text-title {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;
    color: #3884ed;
}

.ob-search-list-profession {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    color: white;
}

.ob-search-list-distance {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;
    color: #959595;

}

.ob-search-list-stars {

}

.ob-search-list-star {
    width: 13.5px;
    height: 13.5px;
}

/*
<div class="ob-search-list">
    <div class="ob-search-list-row">
        <div class="ob-search-list-row-left">
            <img class="ob-search-list-img" src="/img/map/tmp/search_list_greg_hetherington.png"/>
        </div>
        <div class="ob-search-list-row-right">
            <div class="ob-search-list-text">
               <span class="ob-search-list-text-title ob-blue-color">Greg Hetherington</span>,
               <span class="ob-search-list-profession">Personal Trainer</span>
               <span class="ob-search-list-distance">1.6km</span>
            </div>
            <div class="ob-search-list-stars">
                <img class="ob-search-list-star" src="/img/map/tmp/search_list_star.png"/>
                <img class="ob-search-list-star" src="/img/map/tmp/search_list_star.png"/>
                <img class="ob-search-list-star" src="/img/map/tmp/search_list_star.png"/>
                <img class="ob-search-list-star" src="/img/map/tmp/search_list_star.png"/>
                <img class="ob-search-list-star" src="/img/map/tmp/search_list_star.png"/>
            </div>
        </div>
    </div>
</div>
*/
