
<link rel="stylesheet" type="text/css" href="css/buy-tokens.css">
<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <div class="main-instructions">Select the number of credits to purchase</div>
            <div class="sub-instructions">You have {{currentTokens}} tokens left.</div>
            <div class="purchase-credits-table">
                <div class="purchase-credits-row" ng-repeat="item in bundles">
                    <span class="purchase-credits-value">{{item.numberTokens}}</span>
                    <span class="purchase-credits-count">${{item.price}}</span>
                    <span class="purchase-credits-plus-minus-container" ng-click ="addBundle(item)">
                        <span class="purchase-credits-plus-minus-white-background"></span>
                        <i class="icon ion-plus-circled purchase-credits-plus"></i>
                    </span>
                    <span class="purchase-credits-plus-minus-container" ng-click ="removeBundle(item)">
                        <span class="purchase-credits-plus-minus-white-background"></span>
                        <i class="icon ion-minus-circled purchase-credits-minus"></i>
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="purchase-credits-footer-button">
        <span class="purchase-credits-value">{{totalTokens}}</span>
        <span class="purchase-credits-total-text">Total ${{amount}}</span>
        <span class="purchase-credits-buy-credits-text-container" ng-click="confirm()">
            <span class="purchase-credits-buy-credits-text">Buy Credits</span>
            <img class="purchase-credits-arrow" src="/img/store/purchase-credits-arrow.png"/>
        </span>
    </ion-footer-bar>
</ion-view>

<!-- ng-click="clear()" -->
