
<link rel="stylesheet" type="text/css" href="css/buy-tokens.css">
<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <div class="main-instructions">
                Select number of credits to purchase
            </div>
            <div class="purchase-credit-table">
                <div class="purchase-credit-row">
                    <span class="purchase-credit-number">5</span>
                    <img class="purchase-credit-arrow" src="img/store/purchase-credits-arrow.png"/>
                </div>
            </div>
            <div class="purchase-credit-table">
                <div class="purchase-credit-row">
                    <span class="purchase-credit-number">10</span>
                    <img class="purchase-credit-arrow" src="img/store/purchase-credits-arrow.png"/>
                </div>
            </div>
            <div class="purchase-credit-table">
                <div class="purchase-credit-row">
                    <span class="purchase-credit-number">15</span>
                    <img class="purchase-credit-arrow" src="img/store/purchase-credits-arrow.png"/>
                </div>
            </div>
            <div class="purchase-credit-table">
                <div class="purchase-credit-row">
                    <span class="purchase-credit-number">20</span>
                    <img class="purchase-credit-arrow" src="img/store/purchase-credits-arrow.png"/>
                </div>
            </div>
            <div class="purchase-credit-table">
                <div class="purchase-credit-row">
                    <span class="purchase-credit-number">30</span>
                    <img class="purchase-credit-arrow" src="img/store/purchase-credits-arrow.png"/>
                </div>
            </div>
        <div>
    </ion-content>
</ion-view>

<!--
<ion-content class="has-header">
    <ion-list>
        <ion-item>
            You have {{currentTokens}} tokens left.
        </ion-item>
        <ion-item ng-repeat="item in bundles">
            <div>
                <span style="float: left">
                    {{item.numberTokens}} Tokens
                </span>
                <span style="margin-left: 15px">
                    ${{item.price}}
                </span>
                <button style="float: right" ng-click ="addBundle(item)" class = "button button-icon" >
                    <i class = "icon ion-plus-round">
                    </i>
                </button>
                <button style="float: right" ng-click ="removeBundle(item)" class = "button button-icon" >
                    <i class = "icon ion-minus-round">
                    </i>
                </button>

            </div>
        </ion-item>
        <ion-item>
            <div>
                <span>
                    Total: ${{amount}}
                </span>
                <span style="float: right">
                    {{totalTokens}} X Tokens
                </span>
            </div>
        </ion-item>
        <ion-item>
            <div class="button-bar">
                <button class="button button-balanced" ng-click="clear()">
                    Cancel
                </button>
                <button class="button button-balanced" ng-click="confirm()">
                    Confirm
                </button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>
-->
