<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div ob-sections-vertical">
            <div class="ob-section-zerobase ob-center-parent">
                <div class="ob-center-vert-child">
                    <div class="ob-main-instructions">Change Password</div>
                    <div class="ob-sub-instructions">Please enter your old/temporary password and new/confirm passwords</div>
                </div>
            </div>
            <div>
                <div class="ob-form">
                    <div class="ob-form-row ob-form-flex-row">
                        <input class="ob-form-text-input" ng-model="user.oldPassword" type="password" name="oldPassword" placeholder="Old Password"/>
                    </div>
                    <div class="ob-form-row ob-form-flex-row">
                        <input class="ob-form-text-input" ng-model="user.newPassword" type="password" name="newPassword" placeholder="New Password"/>
                    </div>
                    <div class="ob-form-row ob-form-flex-row">
                        <input class="ob-form-text-input" ng-model="user.confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password"/>
                    </div>
                </div>
                <button class="ob-block-button ob-button-blue" ng-click="changePassword()">Change Password</button>
            </div>
            <div class="ob-section-zerobase"></div>
        </div>
    </ion-content>
</ion-view>
