<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <div class="main-instructions">Enter your email</div>
            <div class="sub-instructions">to reset your password</div>
            <div class="ob-form">
                <div class="ob-form-row ob-form-text-input-row">
                    <input class="ob-form-text-input" ng-model="user.email" type="email" name="email" placeholder="Email Address"/>
                </div>
            </div>
            <button class="block-blue-button" ng-click="">Request Password Reset</button>
        </div>
    </ion-content>
</ion-view>
