<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div ob-sections-vertical">
            <div class="ob-section-zerobase ob-vertical-center-parent">
                <div class="ob-vertical-center-child">
                    <div class="ob-main-instructions">Password Reset</div>
                    <div class="ob-sub-instructions">Enter your email to receive instructions for resetting your password</div>
                </div>
            </div>
            <div>
                <div class="ob-form">
                    <div class="ob-form-row ob-form-flex-row">
                        <input class="ob-form-text-input" ng-model="user.email" type="email" name="email" placeholder="Email Address"/>
                    </div>
                </div>
                <button class="ob-block-button ob-button-blue" ng-click="">Request Password Reset</button>
            </div>
            <div class="ob-section-zerobase"></div>
        </div>
    </ion-content>
</ion-view>
