<ion-view title="Test3" >
    <ion-content class="menu1-content-no-header" scrollbar-x="false" scrollbar-y="false">
        <div class="home-content-div">
            <div class="home-flex-top-space"></div>
            <div class="home-flex-main">
                <div class="ob-main-instructions">
                    Howdy!<br/>
                    Let's get to know each other!
                </div>
                <div class="ob-sub-instructions">Choose a social network or create an account</div>
                <button class="signup-button facebook-button" ng-click="facebookLogin()">
                    <span class="signup-button-left">
                        <img class="signup-button-icon facebook-icon" src="img/sign-up/icon-facebook.png">
                    </span>
                    <span class="signup-button-text">
                        Sign in with <span class="text-avnltp-demi">Facebook</span>
                    </span>
                    <span class="signup-button-right"></span>
                </button>
                <button class="signup-button google-plus-button" ng-click="googleLogin()">
                    <span class="signup-button-left">
                        <img class="signup-button-icon google-plus-icon" src="img/sign-up/icon-google-plus.png">
                    </span>
                    <span class="signup-button-text">
                        Sign in with <span class="text-avnltp-demi">Google+</span>
                    </span>
                    <span class="signup-button-right"></span>
                </button>
                <a class="signup-button onebody-button" href="#/menu/register/register-main">
                    <span class="signup-button-left">
                        <img class="signup-button-icon onebody-icon" src="img/sign-up/icon-1body.png">
                    </span>
                    <span class="signup-button-text">
                        Create <span class="text-avnltp-demi">1Body</span> account
                    </span>
                    <span class="signup-button-right"></span>
                </a>
                <a class="block-transparent-button" href="#/menu/login/login-main">Already have an account?</a>
            </div>
            <div class="home-flex-bottom-space"></div>
            <div class="home-flex-bottom-space2"></div>
            <div class="home-flex-footer">
                <a class="block-transparent-button home-transparent-button" href="#/menu/register/tos">
                    By signing up, I agree to <span class="text-underline text-avnltp-demi">1Body's</span>
                    <span class="text-avnltp-demi">Terms of Service</span>,
                    <span class="text-avnltp-demi">Privacy Policy</span>,
                    <span class="text-avnltp-demi">Guest Refund Policy</span>, and
                    <span class="text-avnltp-demi">Host Guarantee Terms</span>.
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
