<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <ion-scroll class="increq-scroll" direction="y">
                <div class="ob-search-list">
                    <div class="ob-search-list-row" ng-repeat="item in requests | orderBy: '-created'">
                        <div class="ob-search-list-row-left">
                            <img class="ob-search-list-img" src="https://s3.amazonaws.com/com.onebody.profile/Users/{{item.userID | htmlEncode}}/profilepic.jpg" ng-click="window.location.href = '#/menu/{{item.group}}/{{item.$id}}'"/>
                        </div>
                        <div class="ob-search-list-row-right ob-search-list-text">
                            <div ng-click="showOnMap(item)">
                                <div>From: <span class="ob-search-list-text-demi">{{item.userName}}{{item.name}}</span></div>
                                <div>{{item.message}}</div>
                                <div>Start Time: {{item.starttime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            </div>
                            <button ng-hide="item.trainerAccecpted || item.expired" class="ob-button ob-button-blue" ng-click="acceptRequest(item)">Accept</button>
                            <span class="ob-search-list-text-demi" ng-show="item.expired && !item.trainerAccecpted">Expired</span>
                            <span class="ob-search-list-text-demi" ng-show="item.trainerAccecpted">Accepted</span>
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <div class="item increq-map-container">
                <div id="request-location" class="increq-map" data-tap-disabled="true"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
