<ion-view view-title="My Mobile Requests">
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-plus"
              ng-click="goTo('#/menu/Mobile-Trainer-Request')"></button>
    </ion-nav-buttons>
    <ion-content class="ob-page">
        <div class="ob-content ob-sections-vertical">
            <div class="ob-block ob-block-switch2 ob-section-0-0">
                <button class="ob-block-switch2-button ob-block-switch2-button-selected">Inbox</button>
                <button class="ob-block-switch2-button"
                        ng-click="rootGoTo('menu.my-requests')">Sent</button>
            </div>
            <ion-scroll class="ob-block ob-scroll ob-scroll-light ob-section-6" direction="y">
                <div ng-show="requests.length <= 0" class="ob-scroll-emptytext">
                    You have received no mobile requests yet
                </div>
                <div class="ob-scroll-row" ng-repeat="item in requests | orderBy: '-created'">
                    <div class="ob-scroll-col-img">
                        <img class="ob-scroll-img"
                             src="https://s3.amazonaws.com/com.onebody.profile/Users/{{item.userID | htmlEncode}}/profilepic.jpg"
                             onerror="this.src='img/emptypic-user.png'"
                             ng-click="window.location.href = '#/menu/{{item.group}}/{{item.$id}}'"/>
                    </div>
                    <div class="ob-scroll-col-flex">
                        <div ng-click="showOnMap(item)">
                            <div class="ob-scroll-text">From: <span class="ob-scroll-text-demi">{{item.userName}}{{item.name}}</span></div>
                            <div class="ob-scroll-text">Start Time: {{item.starttime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                            <div class="ob-scroll-message">{{item.message}}</div>
                        </div>
                        <div>
                            <button ng-hide="item.trainerAccecpted || item.expired" class="ob-button ob-button-blue ob-margins0" ng-click="acceptRequest(item)">Accept</button>
                            <span class="ob-scroll-text-demi" ng-show="item.expired && !item.trainerAccecpted">Expired</span>
                            <span class="ob-scroll-text-demi" ng-show="item.trainerAccecpted">Accepted</span>
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <div id="request-location" class="ob-block-map ob-section-3" data-tap-disabled="true"></div>
        </div>
    </ion-content>
</ion-view>
