<link rel="stylesheet" type="text/css" href="css/trainer.css">
<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <ion-scroll class="increq-scroll" direction="y">
                <div class="ob-search-list">
                    <div class="ob-search-list-row" ng-repeat="item in requests">
                        <div class="ob-search-list-row-left">
                            <img class="ob-search-list-img" src="{{item.profilepic}}" ng-click="window.location.href = '#/menu/{{item.group}}/{{item.$id}}'"/>
                        </div>
                        <div class="ob-search-list-row-right ob-search-list-text-demi">
                            <div ng-click="showOnMap(item)">
                                <p>From: {{item.userName}}{{item.name}}</p>
                                <p>{{item.message}}</p>
                                <p>Start Time: {{item.starttime | parseTimestamp}}</p>
                            </div>
                            <button ng-hide="item.trainerAccecpted || item.expired" class="button button-primary" ng-click="acceptRequest(item)">Accept</button>
                            <span ng-show="item.expired && !item.trainerAccecpted">Expired</span>
                            <span ng-show="item.trainerAccecpted">Accepted</span>
                        </div>
                    </div>
                </div>
            </ion-scroll>
            <div class="item increq-map-container">
                <div id="request-location" class="increq-map" data-tap-disabled="true"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
