<ion-view cache-view="false">
    <ion-nav-title><span class="ob-nav-bar-logo"></span></ion-nav-title>
    <ion-content class="has-header ob-bg1">
        <div class="ob-content ob-sections-vertical">
            <div class="ob-section-zerobase ob-center-parent">
                <div class="ob-center-vert-child">
                    <div class="ob-instructions">Let's get started!</div>
                </div>
            </div>
            <div>
                <div class="ob-form">
                    <div class="ob-form-row ob-form-flex-row">
                        <input class="ob-form-text-input" ng-model="user.email"
                               type="email" placeholder="Email Address"/>
                    </div>
                    <div class="ob-form-row ob-form-flex-row">
                        <input class="ob-form-text-input" ng-model="user.password"
                               type="password" placeholder="Password"/>
                    </div>
                </div>
                <button class="ob-block-button ob-button-blue" ng-click="signin()">Login</button>
                <a class="ob-block-text-button" href="#/prelogin/forgot-password">Forgot password?</a>
            </div>
            <div class="ob-section-zerobase"></div>
        </div>
    </ion-content>
</ion-view>
