
<link rel="stylesheet" type="text/css" href="css/login.css">
<ion-view title="Test1" >
    <ion-content class="has-header register-class-content1">
        <div class="register-class-content1-div">
            <div class="main-instructions">
                Please login
            </div>
            <div class="sub-instructions">
                to access your account
            </div>
            <div class="ob-form">
                <div class="ob-form-row">
                    <span class="ob-form-input-container">
                        <input id="name" type="text" name="email" placeholder="Email Address" ng-model="user.email"/>
                    </span>
                </div>
                <div class="ob-form-row">
                    <span class="ob-form-input-container">
                        <input id="name" type="password" name="password" placeholder="Password" ng-model="user.password"/>
                    </span>
                </div>
            </div>
            <div class="ob-event-create-map-container"></div>
            <button class="block-blue-button" ng-click="signin()">Login</button>
            <button class="block-transparent-button">Forgot password?</button>
        <div>
    </ion-content>
</ion-view>
