<ion-view>
    <ion-content class="has-header menu1-content">
        <ion-list>
            <a class="ob-block-button ob-blue-button ob-button-shadow" href="#/menu/editevent/new">Create Event</a>
            <div>
                <a ng-repeat="event in events"
                   item="event"
                   href="#/menu/editevent/{{event.id}}"
                   class="event-list-item-row">
                    {{ event.name }}
                </a>
                    <!--<ion-delete-button class="ion-minus-circled"-->
                    <!--ng-click="onItemDelete(item)">-->
                    <!--</ion-delete-button>-->
                    <!--
                    <ion-option-button class="button-calm" ng-click="edit(event)">
                        Edit
                    </ion-option-button>
                    <ion-option-button class="button-assertive" ng-click="delete(event)">
                        Delete
                    </ion-option-button>
                    -->
                    <!--<ion-reorder-button class="ion-navicon" on-reorder="moveItem(event, $fromIndex, $toIndex)"></ion-reorder-button>-->
            </div>
        </ion-list>
    </ion-content>
</ion-view>
