<link rel="stylesheet" type="text/css" href="css/trainer.css">
<ion-view>
    <ion-content class="has-header menu1-content ob-search-list-view-content">
        <div class="menu1-content-div">
            <div class="ob-search-list">
                <a class="ob-search-list-row" ng-repeat="item in requests" href="#/menu/Trainers/{{item.trainerID}}">
                    <div class="ob-search-list-row-left">
                        <img class="ob-search-list-img" src="{{item.profilepic}}"/>
                    </div>
                    <div class="ob-search-list-row-right ob-search-list-text-demi">
                        <div ng-click="showOnMap(item)">
                            <p>{{item.username}}{{item.name}}{{item.trainer}}</p>
                            <p>Start: {{item.starttime | parseTimestamp}}</p>
                        </div>
                        <div ng-show="item.expired && !item.trainerAccecpted">Expired</div>
                        <div ng-show="item.trainerAccecpted">Accepted</div>
                        <div ng-hide="item.trainerAccecpted || item.expired">Waiting...</div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
