<ion-view>
    <ion-content class="has-header menu2-content">
        <div class="menu1-content-div">
            <div class="ob-form">
                <div class="ob-form-row ob-form-text-input-row">
                    <span class="ob-form-text-input-prompt">Username</span>
                    <input class="ob-form-text-input" type="text" ng-model="user.username" placeholder="{{user.username}}"/>
                </div>
                <div class="ob-form-row ob-form-icon-row">
                    <span class="ob-form-icon-prompt">Profile Picture </span>
                    <img class="ob-form-icon" src="{{user.profilepic}}" ng-click="setdp()">
                </div>
                <div class="ob-form-row ob-form-text-input-row">
                    <span class="ob-form-text-input-prompt">First Name</span>
                    <input class="ob-form-text-input" type="text" ng-model="user.firstname" placeholder="{{user.firstname}}"/>
                </div>
                <div class="ob-form-row ob-form-text-input-row">
                    <span class="ob-form-text-input-prompt">Last Name</span>
                    <input class="ob-form-text-input" type="text" ng-model="user.lastname" placeholder="{{user.lastname}}"/>
                </div>
                <div class="ob-form-row ob-form-row-autoheight">
                    <textarea class="ob-form-textarea ob-form-textarea-small" ng-model="user.info" placeholder="Tell us about yourself and your passion for fitness">{{user.info}}</textarea>
                </div>
                <div class="ob-form-row ob-form-text-input-row">
                    <span class="ob-form-text-input-prompt">Gym</span>
                    <input class="ob-form-text-input" type="text" ng-model="user.gym" placeholder=""/>
                </div>
            </div>
            <div class="block-dark-button" ng-click="addCertificate()">
                <i class="icon ion-email"></i>
                Add Certificate
            </div>
            <div class="block-blue-button" ng-click="save()">Save</div>
            <ion-list>
                <ion-item ng-repeat="cert in user.certs">
                    <img src="{{cert}}" style="width: 80%; margin-right: 10%; margin-left: 10%" />
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
