<ion-view>
    <ion-nav-bar class="ob-darkpurple-bg">
        <button ng-click="back()" class="button button-icon">
            <i class="icon ion-ios7-arrow-back ob-white-color"></i>
        </button>
        <h1 class="title ob-navbar-title">Edit Profile</h1>
    </ion-nav-bar>
    <ion-content class="has-header ob-grey-bg">
        <div class="menu1-content-div">
            <div class="ob-form">
                <div class="ob-form-row ob-form-flex-row">
                    <span class="ob-form-prompt">Username</span>
                    <input class="ob-form-text-input" type="text" ng-model="user.username" placeholder="{{user.username}}"/>
                </div>
                <div class="ob-form-row ob-form-flex-row">
                    <span class="ob-form-prompt">Profile Picture</span>
                    <img class="ob-form-icon ob-roundedcorners4 ob-whiteborder" src="{{user.profilepic}}" ng-click="setdp()">
                </div>
                <div class="ob-form-row ob-form-flex-row">
                    <span class="ob-form-prompt">First Name</span>
                    <input class="ob-form-text-input" type="text" ng-model="user.firstname" placeholder="{{user.firstname}}"/>
                </div>
                <div class="ob-form-row ob-form-flex-row">
                    <span class="ob-form-prompt">Last Name</span>
                    <input class="ob-form-text-input" type="text" ng-model="user.lastname" placeholder="{{user.lastname}}"/>
                </div>
                <div class="ob-form-row">
                    <textarea class="ob-form-textarea ob-form-textarea-small" ng-model="user.info"
                              placeholder="Tell us about yourself and your passion for fitness">{{user.info}}</textarea>
                </div>
            </div>
            <div class="ob-block-button ob-button-dark" ng-click="addCertificate()">
                <i class="icon ion-email"></i>
                Add Certificate
            </div>
            <div class="ob-block-button ob-button-blue" ng-click="save()">Save</div>
            <ion-list stlye="display: none">
                <ion-item ng-repeat="cert in user.certs">
                    <img src="{{cert}}" style="width: 80%; margin-right: 10%; margin-left: 10%" />
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
