<ion-view title="My Info">
    <ion-content class="has-header">
        <!--<img id='sample_picture' src="{{user.imgLink}}" width="80%" style="margin-left: 10%; margin-right: 10%; margin-top: 20px; margin-bottom: 20px" />-->
        <!--<h1>Guillotine demo</h1>-->

        <!--&lt;!&ndash;<div class='frame'>&ndash;&gt;-->
        <!--&lt;!&ndash;<img id='sample_picture' src='{{user.imgLink}}'>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

        <!--<div id='controls'>-->
            <!--<button id='rotate_left'  type='button' title='Rotate left'> &lt; </button>-->
            <!--<button id='zoom_out'     type='button' title='Zoom out'> - </button>-->
            <!--<button id='fit'          type='button' title='Fit image'> [ ]  </button>-->
            <!--<button id='zoom_in'      type='button' title='Zoom in'> + </button>-->
            <!--<button id='rotate_right' type='button' title='Rotate right'> &gt; </button>-->
        <!--</div>-->

        <!--<ul id='data'>-->
            <!--<div class='column'>-->
                <!--<li>x: <span id='x'></span></li>-->
                <!--<li>y: <span id='y'></span></li>-->
            <!--</div>-->
            <!--<div class='column'>-->
                <!--<li>width:  <span id='w'></span></li>-->
                <!--<li>height: <span id='h'></span></li>-->
            <!--</div>-->
            <!--<div class='column'>-->
                <!--<li>scale: <span id='scale'></span></li>-->
                <!--<li>angle: <span id='angle'></span></li>-->
            <!--</div>-->
        <!--</ul>-->



        <div class="item item-avatar">
            <img src="{{user.imgLink}}" ng-click="setdp()">
            <h2>{{user.username}}</h2>
            <p>{{user.group}}</p>
        </div>

        <div class="button-bar">
            <a class="button button-calm" ng-click="setdp()">Change Pic</a>
            <a class="button button-calm" ng-click="save()">Save</a>
            <a class="button button-calm" ng-click="cancel()">Cancel</a>
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" ng-model="user.firstname" placeholder="{{user.firstname}}">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" ng-model="user.lastname" placeholder="{{user.lastname}}">
            </label>
            <label class="item item-input item-stacked-label" ng-show="user.group == 'trainer'">
                <span class="input-label">Gym</span>
                <input type="text" ng-model="user.gym" placeholder="Gym">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Display Name</span>
                <input type="text" ng-model="user.username" placeholder="{{user.username}}">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">About me</span>
                <input type="text" ng-model="user.info" placeholder="{{user.info}}">
            </label>
            <a class="item item-icon-left" ng-click="addCertificate()">
                <i class="icon ion-email"></i>
                Add Certificate
            </a>
            <ion-list>
                <ion-item ng-repeat="cert in user.certs">
                    <img src="{{cert}}" style="width: 80%; margin-right: 10%; margin-left: 10%" />
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>