<ion-view>
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <button ng-click ="toggleMenu()" class = "button button-icon" >
                <i class = "icon ion-navicon">
                </i>
            </button>

            <h2 class="title">My Events</h2>

        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        <ion-list>
            <ion-item>
                You have {{currentTokens}} tokens left.
            </ion-item>
            <ion-item ng-repeat="item in bundles">
                <div>
                    <span style="float: left">
                        {{item.numberTokens}} Tokens
                    </span>
                    <span style="margin-left: 15px">
                        ${{item.price}}
                    </span>
                    <button style="float: right" ng-click ="addBundle(item)" class = "button button-icon" >
                        <i class = "icon ion-plus-round">
                        </i>
                    </button>
                    <button style="float: right" ng-click ="removeBundle(item)" class = "button button-icon" >
                        <i class = "icon ion-minus-round">
                        </i>
                    </button>

                </div>
            </ion-item>
            <ion-item>
                <div>
                    <span>
                        Total: ${{amount}}
                    </span>
                    <span style="float: right">
                        {{totalTokens}} X Tokens
                    </span>
                </div>
            </ion-item>
            <ion-item>
                <div class="button-bar">
                    <button class="button button-balanced" ng-click="clear()">
                        Cancel
                    </button>
                    <button class="button button-balanced" ng-click="confirm()">
                        Confirm
                    </button>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
