<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <div class="main-instructions">Select a session</div>
            <div class="sub-instructions"></div>
            <div class="ob-form">
                <div class="ob-form-row ob-form-select-row">
                    <span class="ob-form-select-text">Session</span>
                    <div class="ob-form-select-container ob-form-select-container-xlarge">
                        <select class="ob-form-select ob-form-select-xlarge"
                                ng-model="transaction"
                                ng-options="transaction.starttime for transaction in transactions"
                                ng-change="update(transaction)">
                        </select>
                    </div>
                </div>
            </div>
            <div class="qr-transaction-id-text">{{transaction.$id}}</div>
            <div class="qr-qrcode-container">
                <div id="qrcode" class="qr-qrcode"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
