<ion-modal-view class="ob-darktranslucent-bg">
    <ion-header-bar class="ob-darkpurple-bg">
        <h1 class="title ob-navbar-title">QR Code</h1>
        <div class="buttons">
            <button ng-click="closeQRcodeModal()" class="button button-icon">
                <i class="icon ion-close ob-white-color"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="ob-content">
            <div class="ob-instructions">Present this QR Code to your trainer</div>
            <div class="ob-qr-text">{{transactionID}}</div>
            <div class="ob-qr-container">
                <div class="ob-qr-code" id="qrcode"></div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
