
<ion-view>
    <ion-content class="has-header menu1-content">
        <ion-slide-box active-slide="slideStop(index)" pager-click="navSlide(index)">
            <ion-slide>
                <div class="menu1-content-div">
                    <div class="ob-instructions">Let's get started!</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <input class="ob-form-text-input" ng-model="newuser.username"
                                   type="text" name="name" placeholder="Name"/>
                        </div>
                        <!--<div class="ob-form-row ob-form-flex-row">-->
                            <!--<input class="ob-form-text-input" ng-model="newuser.lastname" type="text" name="last-name" placeholder="Last Name"/>-->
                        <!--</div>-->
                        <div class="ob-form-row ob-form-switch-row">
                            <button class="ob-form-switch-button"
                                    ng-class="{'ob-form-switch-button-selected':newuser.gender === 'Female'}"
                                    ng-click="newuser.gender = 'Female'">Female</button>
                            <button class="ob-form-switch-button"
                                    ng-class="{'ob-form-switch-button-selected':newuser.gender === 'Male'}"
                                    ng-click="newuser.gender = 'Male'">Male</button>
                        </div>
                        <div class="ob-form-row ob-form-flex-row">
                            <input class="ob-form-text-input" type="email"
                                   ng-model="newuser.email" name="email" placeholder="Email"/>
                        </div>
                        <div class="ob-form-row ob-form-flex-row">
                            <input class="ob-form-text-input" type="password"
                                   ng-model="newuser.password" placeholder="Password"/>
                            <span class="ob-form-icon ob-form-icon-password"></span>
                        </div>
                        <!--
                        <div class="ob-form-row ob-form-flex-row">
                            <input class="ob-form-text-input" type="password" ng-model="newuser.confirmPassword" placeholder="Confirm Password"/>
                            <span class="ob-form-icon ob-form-icon-password"></span>
                        </div>
                        -->
                        <div class="ob-form-row ob-form-switch-row">
                            <button class="ob-form-switch-button"
                                    ng-class="{'ob-form-switch-button-selected':newuser.group === 'Users'}"
                                    ng-click="newuser.group = 'Users'" >User</button>
                            <button class="ob-form-switch-button"
                                    ng-class="{'ob-form-switch-button-selected':newuser.group === 'Trainers'}"
                                    ng-click="newuser.group = 'Trainers'">Professional</button>
                        </div>
                    </div>
                    <div class="ob-note-block">
                        <span class="ob-note-block-left">*</span>
                        <span class="ob-note-block-middle">Professionals can still register for sessions and classes</span>
                        <span class="ob-note-block-right"></span>
                    </div>
                    <button class="ob-block-button ob-button-blue" ng-click="nextPressed()">Sign up!</button>
                    <!--
                    <a class="ob-block-button ob-button-blue" href="#/menu/register/register-professional-main">Sign up!</a>
                    -->
                    <a class="ob-block-text-button" href="#/login/login-main">Already have an account?</a>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Professional Info</div>
                    <div class="ob-sub-instructions">What kind of fitness do you do?</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-sectioned-row">
                            <span class="left-prompt-text ob-blue-color">
                                Profession
                            </span>
                            <!--<span class="main-content">-->
                                <!--<div class="ob-tag-2">Personal Trainer</div>-->
                                <!--<div class="ob-tag-2">Weight Therapy</div>-->
                            <!--</span>-->
                            <!--<span class="right-icon-container">-->
                                <!--<img class="small-plus-icon" src="img/event-profile/date-picker-button.png"/>-->
                            <!--</span>-->
                        </div>
                        <div class="ob-form-row">
                            <textarea class="ob-form-textarea" placeholder="Tell us about yourself and your passion for fitness"></textarea>
                        </div>
                    </div>
                    <button class="ob-block-button ob-button-blue" ng-click="nextPressed()">Almost Done!</button>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Hey {{newuser.username}}!</div>
                    <div class="ob-sub-instructions">Where is your gym?</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-icon ob-form-icon-magnifier"></span>
                            <input class="ob-form-text-input" type="text"
                                   name="location-search-field" placeholder="address, postal code, city, etc..."/>
                        </div>
                    </div>
                    <div class="ob-event-create-map-container"></div>
                    <button class="ob-block-button ob-button-blue" ng-click="nextPressed()">Done!</button>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
