
<link rel="stylesheet" type="text/css" href="/css/register-professional-main.css">
<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <div class="main-instructions">Professional Info</div>
            <div class="sub-instructions">What kind of fitness do you do?</div>
            <div class="ob-form">
                <div class="ob-form-row ob-sectioned-row">
                    <span class="left-prompt-text ob-blue-color">
                        Profession
                    </span>
                    <span class="main-content">
                        <div class="ob-tag-2">Personal Trainer</div>
                        <div class="ob-tag-2">Weight Therapy</div>
                    </span>
                    <span class="right-icon-container">
                        <img class="small-plus-icon" src="img/event-profile/date-picker-button.png"/>
                    </span>
                </div>
                <div class="ob-form-row">
                    <textarea class="ob-form-textarea" placeholder="Tell us about yourself and your passion for fitness"></textarea>
                </div>
            </div>
            <a class="block-blue-button" href="#/menu/register/register-professional-map">Almost Done!</a>
            <!--
            <button class="block-transparent-button" href="#/menu/login/login-main">Already have an account?</button>
            -->
        <div>
    </ion-content>
</ion-view>
