<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <div class="main-instructions scan-main-instructions">Scan QR Code or manually enter Code</div>
            <button class="block-blue-button" ng-click="scanClient()">Scan QR Code</button>
            <div class="scan-divider"></div>
            <div class="ob-form scan-ob-form">
                <div class="ob-form-row ob-form-text-input-row">
                    <input class="ob-form-text-input" type="text" ng-model="clientCode" placeholder="Manual Entry"/>
                </div>
            </div>
            <button class="block-blue-button scan-block-blue-button" ng-click="enterCode()">Enter</button>
        </div>
    </ion-content>
</ion-view>
