<ion-view title="My Info">
    <ion-content>
        <ion-scroll min-zoom="1" delegate-handle="mainScroll" zooming="true" direction="xy" style="width: 100vw; height: 100vw" on-scroll="scrolling()">
            <div id="displayPicContainer" style="padding: 15%; width: 100%">
                <img id="displayPic" width="100%"/>
            </div>

        </ion-scroll>
        <div style="margin-top: -100vw; width: 100vw; height: 100vw">
            <div style="height: 15vw; width: 100vw">
                <div class="image-frame-first-row">
                </div>
                <div class="image-frame-first-row" style="border-bottom: 1px dotted"></div>
                <div class="image-frame-first-row" style="border-bottom: 1px dotted"></div>
                <div class="image-frame-first-row"></div>
            </div>
            <div style="height: 35vw; width: 100vw">
                <div style="border-right: 1px dotted; height: 35vw; width: 15vw; background: white; opacity: 0.5; float: left"></div>
                <div style="width: 70vw; height: 35vw; float: left">
                </div>
                <div style="height: 35vw; width: 15vw; border-left: 1px dotted; background: white; opacity: 0.5; float: left"></div>
            </div>
            <div style="height: 35vw; width: 100vw">
                <div style="border-right: 1px dotted; height: 35vw; width: 15vw; background: white; opacity: 0.5; float: left"></div>
                <div style="width: 70vw; height: 35vw; float: left"></div>
                <div style="height: 35vw; width: 15vw; border-left: 1px dotted; background: white; opacity: 0.5; float: left"></div>
            </div>
            <div style="height: 15vw; width: 100vw">
                <div class="image-frame-first-row"></div>
                <div class="image-frame-first-row" style="border-top: 1px dotted"></div>
                <div class="image-frame-first-row" style="border-top: 1px dotted"></div>
                <div class="image-frame-first-row"></div>
            </div>
        </div>

        <div class="button-bar" style="z-index: 200">
            <a class="button button-assertive" ng-click="rotatemodal()">Rotate</a>
            <a class="button button-assertive icon-right ion-minus" ng-click="zoomout()"></a>
            <a class="button button-assertive icon-right ion-plus" ng-click="zoomin()"></a>
            <a class="button button-assertive icon-right ion-plus-right" ng-click="cropImage()">Crop</a>
        </div>

        <div class="button-bar">
            <a class="button button-block button-calm" ng-click="takeimg()">Camera</a>
            <a class="button button-block button-calm" ng-click="fromstorage()">Storage</a>
            <a class="button button-block button-calm" ng-click="useimg()">Set</a>
        </div>

        <img src="{{payload}}" id="loadimage" width="100px" height="100px">
        <p>{{payload}}</p>
    </ion-content>
</ion-view>