<ion-view title="Set Location">
    <ion-content class="has-header padding menu1-content">
        <div class="menu1-content-div">
        <div class="ob-form">
            <button class="button button-calm" ng-click="showGymSelectionModal()">Select a Gym</button>
        </div>
        <h1>OR</h1>
        <div class="ob-form">
            <div class="ob-form-row ob-form-text-input-row">
                <img class="ob-form-text-input-icon-left" src="img/event-profile/magnifier.png"/>
                <input class="ob-form-text-input" type="text" ng-model="user.address" placeholder="Enter location"/>
            </div>
        </div>

        <div id="set-location-map" data-tap-disabled="true"></div>

        <div class="ob-form">
            <div class="ob-form-row ob-form-text-input-row">
                <img class="ob-form-text-input-icon-left" src="img/event-profile/magnifier.png"/>
                <input class="ob-form-text-input" type="text" ng-model="user.commentlocation" placeholder="Comment on location"/>
            </div>
            <button class="button button-calm" ng-click="confirm()">Confirm</button>
            <a ng-click="centerOnMe()" class="button button-icon icon ion-android-locate"></a>
        </div>
        </div>
    </ion-content>
</ion-view>