<ion-view title="Set Location">
    <ion-content class="has-header padding">
        <ion-header-bar class="bar-dark" >
            <h1 class="title">Map</h1>
        </ion-header-bar>
        <ion-content>
            <i class="icon ion-location droppin"></i>
            <div id="map" data-tap-disabled="true"></div>
        </ion-content>
        <ion-footer-bar class="bar-dark">
            <a ng-click="centerOnMe()" class="button button-icon icon ion-android-locate">Set Location</a>
        </ion-footer-bar>
    </ion-content>
</ion-view>