<ion-view title="Set Location">
    <ion-content class="has-header padding menu1-content">
        <div class="menu1-content-div ob-sections-vertical">
            <div class="ob-section">
                <button class="ob-block-button ob-button-blue ob-button-shadow"
                        ng-click="showGymSelectionModal()">Select a Gym</button>
            </div>
            <div class="ob-section">
                <div class="ob-form">
                    <div class="ob-form-row ob-form-flex-row">
                        <span class="ob-form-icon ob-form-icon-magnifier"></span>
                        <input class="ob-form-text-input" type="text" ng-model="user.address" placeholder="Enter location"/>
                    </div>
                </div>
                <div id="set-location-map" class="ob-block-map" data-tap-disabled="true"></div>
                <a style="display: none;" ng-click="centerOnMe()" class="button button-icon icon ion-android-locate"></a>
            </div>
            <div class="ob-form">
                <div class="ob-form-row ob-form-flex-row">
                    <input class="ob-form-text-input" type="text" ng-model="user.commentlocation" placeholder="Comment on location"/>
                </div>
            </div>
            <button class="ob-block-button ob-button-blue" ng-click="confirm()">Confirm</button>
        </div>
    </ion-content>
</ion-view>
