<ion-view>
    <ion-nav-bar class="ob-darkpurple-bg">
        <button ng-click="back()" class="button button-icon">
            <i class="icon ion-ios7-arrow-back ob-white-color"></i>
        </button>
        <h1 class="title ob-navbar-title">Settings</h1>
    </ion-nav-bar>
    <ion-content class="has-header ob-grey-bg">
        <div class="menu1-content-div">
            <div class="ob-form">
                <a class="ob-form-row ob-form-flex-row" href="#/menu/tos">
                    <span class="ob-form-text-input">Terms of Service</span>
                    <span class="ob-form-icon ob-form-icon-rightarrow"></span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
