.register-class-content1 {
    background: url("../img/Blue-Top-Gradient.png") center top/100% 34.243% no-repeat,
                url("../img/register-class/tmp/background-blur.png") center/100% 100% no-repeat,
                url("../img/register-class/tmp/background-view.png") center/100% 100% no-repeat;
}

.register-class-content1-div {
    border: 1px solid transparent;
}

.main-instructions {
    width: 184px;
    margin: 23px auto 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.sub-instructions {
    width: 200px;
    margin: 10px auto 76px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.block-button1-group {
}

.block-button1 {
    display: block;
    width: 100%;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 18px;
    color: #3884ed;
    background: transparent;
    border: none;
    border-bottom: 1px solid #939092;
    padding: 14px 0px;
}

.block-button1:first-child {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    border-top: 1px solid white;
}

.block-button1:active {
    background-color: #222222;
}
