<link rel="stylesheet" type="text/css" href="css/test1.css">
<ion-view title="Test1" >
    <ion-content class="has-header register-class-content1" scrollbar-x="false" scrollbar-y="false">
        <div class="footer-button">
            Book Session
        </div>
        <ion-content class="register-class-inner-content1" scrollbar-x="true" scrollbar-y="true">
            <div class="register-class-content1-div">
                <div class="main-instructions">
                    Choose a class to take at SoulCycle
                </div>
                <div class="sub-instructions">
                    Choose one or more time slots
                </div>
                <div class="locations-box">
                    <div class="locations-text">
                        Locations
                    </div>
                    <div class="locations-tags">
                        <span class="locations-tag">
                            mobile
                        </span>
                        <span class="locations-tag">
                            club
                        </span>
                    </div>
                    <div class="locations-distance">
                        1.6km
                    </div>
                </div>
                <div class="date-div">
                    Pick a time for
                    <span class="date">Thurs Dec 25 2014</span>
                    below
                </div>
                <div class="time-slots">
                    <div class="time-slot">
                        <div class="time-slot-main-column">
                            <div class="time-slot-title">
                                Spin with Ana Kasic
                            </div>
                            <div class="time-slot-description">
                                You're backside will thank you, and keep thanking you!
                            </div>
                            <div class="time-slot-time">
                                10:00 am - 11:30 am
                                <span class="time-slot-spots-left">
                                    3 spots left!
                                </span>
                            </div>
                        </div>
                        <div class="time-slot-check-column">
                            <img class="time-slot-check" src="img/register-class/Check.png"/>
                        </div>
                    </div>
                    <div class="time-slot">
                        <div class="time-slot-main-column">
                            <div class="time-slot-title">
                                Hot Yoga with Dave Kora
                            </div>
                            <div class="time-slot-description">
                                90 minutes of addictive stretches
                            </div>
                            <div class="time-slot-time">
                                11:30 am - 01:00 pm
                                <span class="time-slot-spots-left">
                                    3 spots left!
                                </span>
                            </div>
                        </div>
                        <div class="time-slot-check-column">
                            <img class="time-slot-check" src="img/register-class/Check.png"/>
                        </div>
                    </div>
                </div>
            <div>
        </ion-content>

    </ion-content>
</ion-view>
