
<link rel="stylesheet" type="text/css" href="css/test1.css">
<ion-view title="Test1" >
    <ion-content class="has-header register-class-content1" scrollbar-x="false" scrollbar-y="false">
        <div class="footer-button">
            Book Session
        </div>
        <ion-content class="register-class-inner-content1" scrollbar-x="true" scrollbar-y="true">
            <div class="register-class-content1-div">
                <div class="main-instructions">
                    Class successfully booked!
                </div>
                <div class="check-div">
                    <img class="check" src="img/register-class/Check.png"/>
                </div>
                <div class="sub-instructions">
                    Thank you for booking with 1Body!
                </div>
                <div class="date-line">
                    <span class="date-text">Classes scheduled for&nbsp</span>
                    <span class="date">Thurs Dec 25 2014</span>
                </div>
                <div class="classes-container">
                    <div class="class-line">
                        <span class="class-title">Spin with Ana Kasic</span>
                        <span class="class-time">10:00 am - 11:30 am</span>
                    </div>
                    <div class="class-line">
                        <span class="class-title">Hot Yoga with Dave Kora</span>
                        <span class="class-time">1:00 pm - 02:00 pm</span>
                    </div>
                </div>
            <div>
        </ion-content>
    </ion-content>
</ion-view>
