<ion-view>
    <ion-header-bar class="ob-darkpurple-bg">
        <div class="buttons">
            <button ng-click="toggleMenu()" class="button button-icon">
                <i class="icon ion-navicon ob-white-color"></i>
            </button>
        </div>
        <h1 class="title"><span class="ob-nav-bar-logo"></span></h1>
    </ion-header-bar>
    <ion-content class="has-header menu1-content">
        <ion-slide-box class="ob-slide-box" pager-click="navSlide($index)" on-slide-changed="slideChanged($index)" ng-init="slideStop()">
            <ion-slide class="ob-slide">
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Create an Event</div>
                    <div class="ob-sub-instructions">Let's get started</div>
                    <div class="ob-form create-event-ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-prompt">Event Name</span>
                            <input ng-model="newevent.name" class="ob-form-text-input" type="text">
                        </div>
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-prompt">Description</span>
                            <input ng-model="newevent.information" placeholder="Tell us what this event is about" class="ob-form-text-input" type="text" />
                        </div>
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-prompt">Category</span>
                            <div class="ob-form-select-container ob-form-select-container-xlarge">
                                <select class="ob-form-select ob-form-select-xlarge"
                                        ng-model="newevent.category"
                                        ng-options="category.name for category in categories">

                                    <option value="01">01</option>
                                    <option value="01">01</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                        </div>
                        <!--
                        <div class="ob-form-row">
                            <span class="ob-date-prompt-text ob-blue-text">Date</span>
                            <span class="ob-date">5 July 2014 (Thurs)</span>
                            <img class="ob-date-picker-button" src="img/event-profile/date-picker-button.png"/>
                        </div>
                        -->
                        <div ng-show="eventID == 'new'" class="ob-form-row ob-form-flex-row" ng-click="openDatePicker()">
                            <span class="ob-form-prompt">Start Time</span>
                            <time-picker class="ob-form-timepicker" data-inc-icon-class="ion ion-chevron-up" data-dec-icon-class="ion ion-chevron-down"></time-picker>
                        </div>
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-prompt">Duration</span>
                            <span class="ob-form-text">{{newevent.duration}}min</span>
                            <input class="ob-form-range" type="range" name="volume" min="0" max="120" step="30" ng-model="newevent.duration">
                        </div>
                        <!--<div class="ob-form-row ob-form-flex-row">-->
                            <!--<span class="ob-form-prompt">For</span>-->
                            <!--<div class="ob-form-select-container">-->
                                <!--<select class="ob-form-select">-->
                                    <!--<option value="01">01</option>-->
                                    <!--<option value="02">02</option>-->
                                    <!--<option value="03">03</option>-->
                                    <!--<option value="04">04</option>-->
                                    <!--<option value="05">05</option>-->
                                    <!--<option value="06">06</option>-->
                                    <!--<option value="07">07</option>-->
                                    <!--<option value="08">08</option>-->
                                    <!--<option value="09">09</option>-->
                                    <!--<option value="10">10</option>-->
                                    <!--<option value="11">11</option>-->
                                    <!--<option value="12">12</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="ob-form-select-container">-->
                                <!--<select class="ob-form-select">-->
                                    <!--<option value="days">days</option>-->
                                    <!--<option value="weeks">weeks</option>-->
                                    <!--<option value="month">months</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="ob-form-row ob-form-switch-row"> <!--ng-model="newevent.private" for checkbox-->
                            <button class="ob-form-switch-button">Public</button>
                            <button class="ob-form-switch-button">Invite Only</button>
                        </div>
                    </div>
                    <button class="ob-block-button ob-blue-button" ng-click="nextPressed()">Next</button>
                </div>
            </ion-slide>
            <ion-slide class="ob-slide">
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Where's your event happening?</div>
                    <div class="ob-sub-instructions">Enter an address or drop a pin</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-icon-left ob-form-icon-magnifier"></span>
                            <input class="ob-form-text-input" type="text" ng-model="newevent.address" placeholder="Enter location"/>
                        </div>
                    </div>
                    <div id="create-eventmap" data-tap-disabled="true"></div>

                    <div class="ob-form">
                        <div class="ob-form-row ob-form-text-input-row">
                            <img class="ob-form-text-input-icon-left" src="img/event-profile/magnifier.png"/>
                            <input class="ob-form-text-input" type="text" ng-model="newevent.commentlocation" placeholder="Comment on location"/>
                        </div>
                    </div>

                    <button class="block-blue-button" ng-click="createEvent()">Create and set a display picture!</button>
                </div>
            </ion-slide>
            <ion-slide class="ob-slide">
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Next up,</div>
                    <div class="ob-sub-instructions">Upload a picture for your event!</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-row-picture-upload-top-section">
                            <span class="picture-upload-placeholder">
                                <img id="displayPic" style="max-width: 300px" src="https://s3.amazonaws.com/com.onebody.profile/Events/{{newevent.$id | htmlEncode}}/profilepic_hd.jpg" />
                            </span>
                            <span class="picture-upload-plus-icon"></span>
                            <span class="picture-upload-e-tag"></span>
                        </div>
                        <button ng-click="fromstorage()">From Storage</button>
                        <button ng-click="fromcamera()">Take a picture</button>
                        <button ng-click="useimg()">Use Image</button>
                    </div>
                    <!--<div class="ob-form">-->
                        <!--<div class="ob-form-row">-->
                            <!--<textarea class="ob-form-textarea" ng-model="newevent.information" placeholder="Tell us what this event is about"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <button class="ob-block-button ob-blue-button"ng-click="skipImgUpload()">Skip</button>
                </div>
            </ion-slide>
            <ion-slide class="ob-slide">
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Who's coming?</div>
                    <div class="ob-sub-instructions">Search, or browse through your friends list below!</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-icon-left ob-form-icon-magnifier"></span>
                            <input class="ob-form-text-input" type="search" placeholder="Search"/>
                        </div>
                    </div>
                    <div class="ob-userlist">
                        <div class="ob-userlist-row" ng-repeat="item in following">
                            <img class="ob-userlist-image" src="{{item.profilepic}}"/>
                            <div class="ob-userlist-text-column">
                                <div class="ob-userlist-text-block">
                                    <div class="ob-userlist-user-name">{{item.username}}</div>
                                    <div class="ob-search-list-row-right" style="float: right">
                                        <label class="checkbox" style="float: right;">
                                            <input type="checkbox" ng-model="item.checked">
                                        </label>
                                    </div>
                                    <!--<div><span class="ob-userlist-mutual-friend-count">4</span>friends</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-bar">
                        <button class="button button-calm" ng-click="sendInvites()">Invite</button>
                        <button class="button button-calm" ng-click="skipInvites()">Skip</button>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <!--<ion-footer-bar class="ob-footer-button" ng-show='currentIndex() == 3' ng-click="nextPressed()">-->
        <!--<div class="ob-footer-button-contents">-->
            <!--Invite-->
        <!--</div>-->
    <!--</ion-footer-bar>-->
</ion-view>
