<ion-view>
    <ion-nav-bar class="ob-darkpurple-bg">
        <button ng-click="back()" class="button button-icon">
            <i class="icon ion-ios7-arrow-back ob-white-color"></i>
        </button>
        <h1 class="title ob-navbar-title">Create Event</h1>
    </ion-nav-bar>
    <ion-content class="has-header menu1-content">
        <ion-slide-box class="ob-slide-box" pager-click="navSlide(index)" on-slide-changed="slideChanged($index)" ng-init="slideStop()">
            <ion-slide class="ob-slide">
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Create an Event</div>
                    <div class="ob-sub-instructions">Let's get started</div>
                    <div class="ob-form create-event-ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-prompt">Event Name</span>
                            <input ng-model="newevent.name" type="text"
                                   class="ob-form-text-input" placeholder="Event Name">
                        </div>
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-prompt">Description</span>
                            <input ng-model="newevent.information" placeholder="Short Description" class="ob-form-text-input" type="text" />
                        </div>
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-prompt">Category</span>
                            <div class="ob-form-select-container ob-form-select-container-xlarge">
                                <select class="ob-form-select ob-form-select-xlarge"
                                        ng-model="newevent.category"
                                        ng-options="category.name for category in categories">
                                </select>
                            </div>
                        </div>
                        <!--
                        <div class="ob-form-row">
                            <span class="ob-date-prompt-text ob-blue-text">Date</span>
                            <span class="ob-date">5 July 2014 (Thurs)</span>
                            <img class="ob-date-picker-button" src="img/event-profile/date-picker-button.png"/>
                        </div>
                        -->
                        <div ng-show="eventID == 'new'" class="ob-form-row ob-form-flex-row" ng-click="openDatePicker()">
                            <span class="ob-form-prompt">Start Time</span>
                            <time-picker class="ob-form-timepicker" data-inc-icon-class="ion ion-chevron-up" data-dec-icon-class="ion ion-chevron-down"></time-picker>
                        </div>
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-prompt">Duration</span>
                            <span class="ob-form-text">{{newevent.duration}}min</span>
                            <input class="ob-form-range" type="range" name="volume" min="0" max="120" step="30" ng-model="newevent.duration">
                        </div>
                        <!--<div class="ob-form-row ob-form-flex-row">-->
                            <!--<span class="ob-form-prompt">For</span>-->
                            <!--<div class="ob-form-select-container">-->
                                <!--<select class="ob-form-select">-->
                                    <!--<option value="01">01</option>-->
                                    <!--<option value="02">02</option>-->
                                    <!--<option value="03">03</option>-->
                                    <!--<option value="04">04</option>-->
                                    <!--<option value="05">05</option>-->
                                    <!--<option value="06">06</option>-->
                                    <!--<option value="07">07</option>-->
                                    <!--<option value="08">08</option>-->
                                    <!--<option value="09">09</option>-->
                                    <!--<option value="10">10</option>-->
                                    <!--<option value="11">11</option>-->
                                    <!--<option value="12">12</option>-->
                                <!--</select>-->
                            <!--</div>-->
                            <!--<div class="ob-form-select-container">-->
                                <!--<select class="ob-form-select">-->
                                    <!--<option value="days">days</option>-->
                                    <!--<option value="weeks">weeks</option>-->
                                    <!--<option value="month">months</option>-->
                                <!--</select>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="ob-form-row ob-form-switch-row"> <!--ng-model="newevent.private" for checkbox-->
                            <button class="ob-form-switch-button"
                                    ng-class="{'ob-form-switch-button-selected':privacy === 'Public'}"
                                    ng-click="privacy = 'Public'">Public</button>
                            <button class="ob-form-switch-button"
                                    ng-class="{'ob-form-switch-button-selected':privacy === 'Private'}"
                                    ng-click="privacy = 'Private'">Invite Only</button>
                        </div>
                    </div>
                    <button class="ob-block-button ob-button-blue" ng-click="nextPressed()">Next</button>
                </div>
            </ion-slide>
            <ion-slide class="ob-slide">
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Where's your event happening?</div>
                    <div class="ob-sub-instructions">Enter an address or drop a pin</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-icon ob-form-icon-magnifier"></span>
                            <input class="ob-form-text-input" type="text"
                                   ng-model="newevent.address" placeholder="Enter location"/>
                        </div>
                    </div>
                    <div id="create-eventmap" class="ob-block-map" data-tap-disabled="true"></div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <input class="ob-form-text-input" type="text"
                                   ng-model="newevent.commentlocation" placeholder="Comment on location"/>
                        </div>
                    </div>
                    <button class="ob-block-button ob-button-blue" ng-click="createEvent()">Create and set a display picture!</button>
                </div>
            </ion-slide>
            <ion-slide class="ob-slide">
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Next up,</div>
                    <div class="ob-sub-instructions">Upload a picture for your event!</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-row-picture-upload-top-section">
                            <span class="picture-upload-placeholder"></span>
                            <span class="picture-upload-plus-icon"></span>
                            <span class="picture-upload-e-tag"></span>
                            <img id="displayPic"
                                 class="picture-upload-picture"
                                 src="https://s3.amazonaws.com/com.onebody.profile/Events/{{newevent.$id | htmlEncode}}/profilepic_hd.jpg" />
                        </div>
                    </div>
                    <div class="buttongroup2">
                        <button class="buttongroup2-button" ng-click="fromcamera()"><i class="icon ion-camera buttongroup2-icon"></i></button>
                        <button class="buttongroup2-button" ng-click="fromstorage()"><i class="icon ion-images buttongroup2-icon"></i></button>
                        <button class="buttongroup2-button" ng-click="useimg()">Save</button>
                    </div>
                    <!--<div class="ob-form">-->
                        <!--<div class="ob-form-row">-->
                            <!--<textarea class="ob-form-textarea" ng-model="newevent.information" placeholder="Tell us what this event is about"></textarea>-->
                        <!--</div>-->
                    <!--</div>-->
                    <button class="ob-block-button ob-button-blue"ng-click="skipImgUpload()">Skip</button>
                </div>
            </ion-slide>
            <ion-slide class="ob-slide">
                <div class="menu1-content-div">
                    <div class="ob-main-instructions">Who's coming?</div>
                    <div class="ob-sub-instructions">Search, or browse through your friends list below!</div>
                    <div class="ob-form">
                        <div class="ob-form-row ob-form-flex-row">
                            <span class="ob-form-icon ob-form-icon-magnifier"></span>
                            <input class="ob-form-text-input" type="search" placeholder="Search"/>
                        </div>
                    </div>
                    <div class="ob-list">
                        <div class="ob-list-row" ng-repeat="item in following">
                            <div class="ob-list-col-img">
                                <img class="ob-list-img" src="{{item.profilepic}}"/>
                            </div>
                            <div class="ob-list-col-flex">
                                <div class="ob-list-text">{{item.username}}</div>
                                <!--<div class="ob-list-subtext"><span>4</span> mutual friends</div>-->
                            </div>
                            <div class="ob-list-col-auto">
                                <label class="checkbox">
                                    <input type="checkbox" class="ob-list-checkbox" ng-model="item.checked">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <ion-footer-bar class="ob-footer" ng-show='currentIndex() == 3' ng-click="nextPressed()">
        <div class="ob-footer-buttonbar">
            <button class="ob-footer-buttonbar-button ob-button-blue" ng-click="skipInvites()">Skip</button>
            <button class="ob-footer-buttonbar-button ob-button-blue" ng-click="sendInvites()">Send Invites</button>
        </div>
    </div>
</ion-view>
