
<ion-view>
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <a ng-click="toggleMenu()" class = "button button-icon" >
                <i class = "icon ion-arrow-left-c">
                </i> Back
            </a>
            <h2 class="title">{{selectedEvent.name}}</h2>
        </div>
    </ion-header-bar>

    <ion-content has-header="true">
        <div class="list card">

            <div class="item item-avatar">
                <a href="#/menu/{{item.group}}/{{item.$id}}">
                    <img src="{{selectedEvent.user.profilepic}}">
                </a>
                <h2>{{selectedEvent.user.username}}</h2>
                <p>{{selectedEvent.user.group}}</p>
            </div>

            <div class="item item-body">
                <h2>{{selectedEvent.name}}</h2>
                <p>
                    {{selectedEvent.information}}
                </p>
                <p>
                    {{selectedEvent.location}}
                </p>
                <div id="event-detail-map" data-tap-disabled="true" style="width: 100%; height: 200px"></div>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">{{selectedEvent.comments.length}} Comments</a>
                </p>
            </div>

            <div class="item button-bar">
                <button ng-show="inEvent == -1" class="button button-dark" ng-click="joinEvent()">
                    Join Event
                </button>
                <button ng-show="inEvent > -1" class="button button-dark" ng-click="leaveEvent()">
                    Leave Event
                </button>
                <button class="button button-dark" ng-click="whosGoing()">
                    Who's going?
                </button>
            </div>
        </div>

        <div>
            <ion-list>
                <ion-item ng-repeat="comment in comments" ng-click="replyto(comment)">
                    <img src="https://s3.amazonaws.com/com.onebody.profile/Users/{{comment.userID | htmlEncode}}/profilepic.jpg" />
                    <p>{{comment.text}}</p>
                    <p ng-hide="comment.replyUserID" style="font-size: 10px">{{comment.username}} left at: {{comment.creation}}</p>
                    <p ng-show="comment.replyUserID" style="font-size: 10px">{{comment.username}} @{{comment.replyUserName}} left at: {{comment.creation}}</p>
                </ion-item>
            </ion-list>
        </div>
        <label class="item item-input item-stacked-label">
            <span>{{commentTitle}}</span>
            <input type="text" ng-model="newcomment.text" placeholder="Comment">
        </label>
        <button class="button button-dark" ng-click="addcomment()">Enter</button>
        <button class="button button-dark" ng-click="clear()">Clear</button>
            <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
                <!--<a class="tab-item" href="#">-->
                    <!--<i class="icon ion-thumbsup"></i>-->
                    <!--Like-->
                <!--</a>-->
                <!--<a class="tab-item" href="#">-->
                    <!--<i class="icon ion-chatbox"></i>-->
                    <!--Comment-->
                <!--</a>-->
                <!--<a class="tab-item" href="#">-->
                    <!--<i class="icon ion-share"></i>-->
                    <!--Share-->
                <!--</a>-->
            <!--</div>-->


    </ion-content>
</ion-view>