<ion-view cache-view="false">
    <ion-nav-title><span class="ob-nav-bar-logo"></span></ion-nav-title>
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-gear-b"
              ng-click="goTo('#/menu/editevent/{{eventID}}')"
              ng-show="selectedEvent.userID == $root.user.$id"></button>
    </ion-nav-buttons>

    <div ng-include="'js/event/templates/event-detail-main.html'"
         ng-show="tabIndex == 0"></div>
    <ion-content ng-show="tabIndex == 1"
                 class="ob-grey-bg ob-content"
                 scroll="false"
                 data-tap-disabled="true">
        <div class="item profile-map"
             data-tap-disabled="true"
             id="event-detail-map">
        </div>
    </ion-content>
     <div ng-controller="ImagesCtrl" ng-init="init('Users', eventID, eventID)"
          ng-include="'js/user/templates/images.html'"
          ng-show="tabIndex == 2"></div>
    <!--
    <div ng-include=""
         ng-show="tabIndex == 3"></div>
    -->

    <ion-footer-bar class="ob-footer">
        <div class="ob-tabs">
            <button class="ob-tab" ng-click="tabIndex = 0">
                <span class="ob-tab-img"
                      ng-class="{'ob-tab-img-activity-blue' : tabIndex == 0,
                                 'ob-tab-img-activity-grey' : tabIndex != 0}"></span>
            </button>
            <span class="ob-tab-separator"></span>
            <button class="ob-tab"
                    ng-click="tabIndex = 1">
                <i class="icon ion-ios-location ob-tab-icon"
                   ng-class="{'ob-tab-icon-selected' : tabIndex == 1}"
                   ng-class></i>
            </button>
            <span class="ob-tab-separator"></span>
            <button class="ob-tab"
                    ng-click="tabIndex = 2">
                <i class="icon ion-images ob-tab-icon"
                   ng-class="{'ob-tab-icon-selected' : tabIndex == 2}"
                   ng-class></i>
            </button>
            <!--
            <button class="ob-tab"

                    ng-click="tabIndex = 3">
                <i class="icon ion-information-circled ob-tab-icon"
                   ng-class="{'ob-tab-icon-selected' : tabIndex == 3}"
                   ng-class></i>
            </button>
            -->
        </div>
    </ion-footer-bar>
</ion-view>

<!--
<div class="profile-tab-bar-container">
        <span class="button-bar profile-tab-bar">
            <a class="button profile-tab" id="profile-tab-1" href="">
                <img class="profile-tab-icon" id="profile-tab-icon-1" src="img/professional-profile/tab-icon-map-grey.png"/>
                <img class="profile-tab-icon" id="profile-tab-icon-1" src="img/professional-profile/tab-icon-map-blue.png"/>
            </a>
            <a class="button profile-tab" id="profile-tab-2" href="#/menu/images/Events/{{selectedEvent.$id}}/{{selectedEvent.userID}}">
                <img class="profile-tab-icon" id="profile-tab-icon-2" src="img/professional-profile/tab-icon-photos-grey.png"/>
                <img class="profile-tab-icon" id="profile-tab-icon-2" src="img/professional-profile/tab-icon-photos-grey.png"/>
            </a>
            <a class="button profile-tab" id="profile-tab-3" href="">
                <img class="profile-tab-icon" id="profile-tab-icon-3" src="img/professional-profile/tab-icon-activity-grey.png"/>
                <img class="profile-tab-icon" id="profile-tab-icon-3" src="img/professional-profile/tab-icon-activity-grey.png"/>
            </a>
            <a class="button profile-tab" id="profile-tab-4" href="">
                <img class="profile-tab-icon" id="profile-tab-icon-4" src="img/professional-profile/tab-icon-info.png"/>
                <img class="profile-tab-icon" id="profile-tab-icon-4" src="img/professional-profile/tab-icon-info.png"/>
            </a>
        </span>
</div>
-->
