<ion-view>
    <ion-header-bar class="ob-darkpurple-bg">
        <div class="buttons">
            <button ng-click="toggleMenu()" class="button button-icon">
                <i class="icon ion-navicon ob-white-color"></i>
            </button>
        </div>
        <h1 class="title"><span class="ob-nav-bar-logo"></span></h1>
    </ion-header-bar>
    <ion-content class="has-header menu1-content">
        <ion-list>
            <a class="ob-block-button ob-button-blue ob-button-shadow" href="#/menu/editevent/new">Create Event</a>
            <div>
                <a ng-repeat="event in events"
                   item="event"
                   href="#/menu/editevent/{{event.$id}}"
                   class="event-list-item-row">
                    {{ event.name }}
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
