<ion-view view-title="My Events">
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-plus"
              ng-click="goTo('#/menu/editevent/new')"></button>
    </ion-nav-buttons>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <div class="ob-list">
                <div class="ob-list-emptytext" ng-show="events.length <= 0">
                    You have no events!<br/><br/>
                    Tap the magnifier icon at the top right to search for events to join<br/>
                    Tap the + icon at the top right to create your own event!<br/>
                </div>
                <a class="ob-list-row" ng-repeat="event in events" item="event"
                   href="#/menu/Events/{{$root.user.$id}}/{{event.$id}}">
                    <div class="ob-list-col-img">
                        <img class="ob-list-img" src=""/>
                    </div>
                    <div class="ob-list-col-flex">
                        <div class="ob-list-text">{{event.name}}</div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
