<ion-view view-title="My Events">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
      <button class="button button-icon ion-plus"
              ng-click="goTo('#/menu/editevent/new')"></button>
    </ion-nav-buttons>
    <ion-content class="has-header ob-bg1">
        <div class="ob-content">
            <div class="ob-list">
                <div class="ob-list-emptytext" ng-show="events.length <= 0">
                    You have no events!<br/><br/>
                    Search on the map for events to join<br/>
                    or tap the + icon at the top right to create your own event!<br/>
                </div>
                <a class="ob-list-row" ng-repeat="event in events" item="event"
                   href="#/menu/Events/{{$root.user.$id}}/{{event.$id}}">
                    <div class="ob-list-col-img">
                        <img class="ob-list-img"
                             src="https://s3.amazonaws.com/com.onebody.profile/Events/{{event.$id | htmlEncode}}/profilepic.jpg?userlogin={{event.modified}}"
                             onerror="this.src='img/emptypic-event.png'"/>
                    </div>
                    <div class="ob-list-col-flex">
                        <div class="ob-list-text">{{event.name}}</div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
