<div class="row timepicker-row" ng-show="showTimePicker">
    <div class="col-33 timepicker-column">
        <span ng-click="incrementHours()" class="timepicker-arrow-container">
            <i ng-class="incIconClass"></i>
        </span>
        <div class="hours-val timepicker-label">{{ widget.hours }}</div>
        <span ng-click="decrementHours()" class="timepicker-arrow-container">
            <i ng-class="decIconClass"></i>
        </span>
    </div>
    <div class="col-33 timepicker-column">
        <span ng-click="incrementMinutes()" class="timepicker-arrow-container">
            <i ng-class="incIconClass"></i>
        </span>
        <div class="minutes-val timepicker-label">{{ widget.minutes }}</div>
        <span ng-click="decrementMinutes()" class="timepicker-arrow-container">
            <i ng-class="decIconClass"></i>
        </span>
    </div>
    <div class="col-33" ng-show="showMeridian">
        <label ng-click="toggleMeridian()" class="timepicker-arrow-container">
            <i ng-class="incIconClass"></i>
        </label>
        <div class="meridian-val timepicker-label" ng-click="toggleMeridian()">{{ widget.meridian }}</div>
        <label ng-click="toggleMeridianDown()" class="timepicker-arrow-container">
            <i ng-class="decIconClass"></i>
        </label>
    </div>
</div>
<div class="row timepicker-row" ng-show="showDatePicker">
    <div class="col-33 timepicker-column" class="timepicker-arrow-container">
        <span ng-click="incrementYear()" ng-mousedown="incrementYearStart()" ng-mouseup="incrementYearStop()" class="timepicker-arrow-container">
            <i ng-class="incIconClass"></i>
        </span>
        <div class="hours-val timepicker-label">{{ widget.year }}</div>
        <span ng-click="decrementYear()" ng-mousedown="decrementYearStart()" ng-mouseup="decrementYearStop()" class="timepicker-arrow-container">
            <i ng-class="decIconClass"></i>
        </span>
    </div>
    <div class="col-33 timepicker-column" class="timepicker-arrow-container">
        <span ng-click="incrementMonth()" ng-mousedown="incrementMonthStart()" ng-mouseup="incrementMonthStop()" class="timepicker-arrow-container">
            <i ng-class="incIconClass"></i>
        </span>
        <div class="minutes-val timepicker-label">{{ widget.month }}</div>
        <span ng-click="decrementMonth()" ng-mousedown="decrementMonthStart()" ng-mouseup="decrementMonthStop()" class="timepicker-arrow-container">
            <i ng-class="decIconClass"></i>
        </span>
    </div>
    <div class="col-33 timepicker-column" class="timepicker-arrow-container">
        <span ng-click="incrementDay()" ng-mousedown="incrementDayStart()" ng-mouseup="incrementDayStop()" class="timepicker-arrow-container">
            <i ng-class="incIconClass"></i>
        </span>
        <div class="meridian-val timepicker-label">{{ widget.day }}</div>
        <span ng-click="decrementDay()" ng-mousedown="decrementDayStart()" ng-mouseup="decrementDayStop()" class="timepicker-arrow-container">
            <i ng-class="decIconClass"></i>
        </span>
    </div>
</div>
<div class="timepicker-dayofweek" ng-show="showDatePicker">
    {{dayOfWeek}}
</div>

<div class="row timepicker-row" ng-show="!showDatePicker && !showTimePicker">
    <div class="col-33 timepicker-column">
        <span ng-click="decrementDay()" class="timepicker-arrow-container">
            <i ng-class="incIconClass"></i>
        </span>
    </div>
    <div class="col-33 timepicker-column" class="timepicker-arrow-container">
        <div class="minutes-val timepicker-label">
            <span>{{ widget.year }}</span>
            <span>{{ widget.month }}</span>
            <span>{{ widget.day }}</span>
        </div>
    </div>
    <div class="col-33 timepicker-column" class="timepicker-arrow-container">
        <span ng-click="incrementDay()" ng-mousedown="decrementDayStart()" ng-mouseup="decrementDayStop()" class="timepicker-arrow-container">
            <i ng-class="decIconClass"></i>
        </span>
    </div>
</div>