<ion-modal-view>
    <ion-content>
        <ul class="list menu1-content">
            <a class="item" ng-repeat="goer in goers">

                <img src="https://s3.amazonaws.com/com.onebody.profile/Users/{{goer.userID | htmlEncode}}/profilepic.jpg" width="80px" height="80px" />
                <p>{{goer.username}}</p>
                <p>{{goer.information}}</p>
            </a>
        </ul>
        <button class="button button-calm" ng-click="closeModal()">Close</button>
    </ion-content>
</ion-modal-view>