
.register-class-content1 {
    background: url("../img/Blue-Top-Gradient.png") center top/100% 34.243% no-repeat,
                url("../img/register-class/tmp/background-blur.png") center/100% 100% no-repeat,
                url("../img/register-class/tmp/background-view.png") center/100% 100% no-repeat;
}

.register-class-content1-div {
    border: 1px solid transparent;
}

.about-header {
    width: 100%;
    height: 81px;
}

.profile-picture-div {
    position: relative;
    float: left;
    width: 84px;
    height: 81px;
    position: relative;
}

.profile-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 66px;
    height: 66px;
}

.profile-picture-tag {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 9%;
    right: 6%;
}

.about-header-text-div {
    display: table;
    vertical-align: middle;
    color: white;
    height: 81px;
}

.about-header-text-column {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-left: 8px;
}

.user-name {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.user-title {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 18px;
    margin-top: 6px;
}

.user-join-date {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 14px;
    margin-top: 2px;
}

.locations-box {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    color: white;
    padding: 19px 0px 19px;
    border-bottom: 1px solid white;
}

.locations-text {
    flex: 0 0 auto;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;
    padding: 0px 6px 0px 12px;
}

.locations-tags {
    flex: 99 99 auto;
}

.locations-tag {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 13.795px;
    border: 1px solid white;
    border-radius: 14px;
    padding: 8px;
    margin: 0px 3px 0px 3px;
}

.locations-tag:active {
    background-color: white;
}

.locations-distance {
    flex: 0 0 auto;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;
    padding: 0px 12px 0px 6px;
}

.about-block {
    padding: 23px 0px;
    color: white;
    border-bottom: 1px solid #a2a2a1;
}

.about-block-title-row {
    text-align: center;
}

.about-block-title {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;
    margin: 0px auto;
    border-bottom: 1px solid #3988f6;
}

.about-user-block-name {
}

.about-user-block-text {
    width: 300px;
    margin: 16px auto 0px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

.organization-row {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-top: 25px;
}

.organization-image {
    -moz-flex: 0 0 110px;
    -webkit-flex: 0 0 110px;
    flex: 0 0 110px;
    height: 40px;
    padding: 0px 10px;
}

.organization-text {
    -moz-flex: 99 99 auto;
    -webkit-flex: 99 99 auto;
    flex: 99 99 auto;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    padding: 3px 20px 0px 3px;
}

.organization-title {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;
}

.user-tags {
    padding: 19px 9px 65px;
}

.user-tag {
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 8px;
    margin: 0px 0px 5px 2px;
}

.blue-user-tag {
    color: #3988f6;
    border: 1px solid #3988f6;
}

.user-tag-text {
}
