<ion-view>
    <ion-header-bar class="ob-darkpurple-bg">
        <div class="buttons">
            <button ng-click="toggleMenu()" class="button button-icon button-dark">
                <i class="icon ion-navicon"></i>
            </button>
        </div>
        <h1 class="title"><span class="ob-nav-bar-logo"></span></h1>
        <div class="buttons">
            <!--
            <button ng-click="goTo('#/menu/my-profile')"
                    class="button button-icon button-dark"
                    ng-show="selectedUser.$id == $root.user.$id">
                <i class="icon ion-edit ob-ionicon-small"></i>
            </button>
            -->
        </div>
    </ion-header-bar>
    <ion-content has-header="true" >
        <div class="list card">
            <div class="item item-avatar">
                <a href="#/menu/{{item.group}}/{{item.$id}}">
                    <img src="{{selectedClass.user.profilepic}}">
                </a>
                <h2>user.username = {{selectedClass.user.username}}</h2>
                <p>user.group = {{selectedClass.user.group}}</p>
            </div>

            <div class="item item-body ob-grey-bg" >
                <h2>selectedClass.name = {{selectedClass.name}}</h2>
                <p>selectedClass.information = {{selectedClass.information}}</p>
                <p>selectedClass.location = {{selectedClass.location}}</p>

                <time-picker class="ob-form-timepicker" show-time-picker="false" data-inc-icon-class="ion ion-chevron-up" data-dec-icon-class="ion ion-chevron-down"></time-picker>
                <ul class="list ob-grey-bg">
                    <a class="item" ng-repeat="item in openClasses">
                        <p>Starttime: {{item.classtime}}</p>
                        <p>openslots: {{item.slotsopen}}</p>
                        <button class="button button-calm" ng-click="bookClass(item)">Book</button>
                    </a>
                </ul>
            </div>
        </div>
        <div>
            <ion-list>
                <ion-item ng-repeat="comment in selectedClass.comments" ng-click="replyto()">
                    <p>{{comment.text}}</p>
                    <p style="font-size: 10px">{{comment.username}} left at: {{comment.creation}}</p>
                </ion-item>
            </ion-list>
        </div>
        <label class="item item-input item-stacked-label">
            <input type="text" ng-model="newcomment.text" placeholder="Comment">
        </label>
        <button class="button button-dark" ng-click="addcomment()">Enter</button>
    </ion-content>
</ion-view>
