<ion-view>
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <a href="#/menu/Events" class = "button button-icon" >
                <i class = "icon ion-arrow-left-c">
                </i> Back
            </a>
            <h2 class="title">{{selectedClass.name}}</h2>
        </div>
    </ion-header-bar>

    <ion-content has-header="true">
        <div class="list card">

            <div class="item item-avatar">
                <a href="#/menu/{{item.group}}/{{item.$id}}">
                    <img src="{{selectedClass.user.profilepic}}">
                </a>
                <h2>{{selectedClass.user.username}}</h2>
                <p>{{selectedClass.user.group}}</p>
            </div>

            <div class="item item-body">
                <h2>{{selectedClass.name}}</h2>
                <p>
                    {{selectedClass.information}}
                </p>
                <p>
                    {{selectedClass.location}}
                </p>
                <div id="class-detail-map" data-tap-disabled="true" style="width: 100%; height: 200px"></div>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">{{selectedClass.comments.length}} Comments</a>
                </p>
            </div>

            <button class="item button button-block button-dark">
                Join Event
            </button>
        </div>

        <div>
            <ion-list>
                <ion-item ng-repeat="comment in selectedClass.comments" ng-click="replyto()">
                    <p>{{comment.text}}</p>
                    <p style="font-size: 10px">{{comment.username}} left at: {{comment.creation}}</p>
                </ion-item>
            </ion-list>
        </div>
        <label class="item item-input item-stacked-label">
            <input type="text" ng-model="newcomment.text" placeholder="Comment">
        </label>
        <button class="button button-dark" ng-click="addcomment()">Enter</button>
    </ion-content>
</ion-view>