<ion-view>
    <ion-nav-bar class="ob-darkpurple-bg">
        <button ng-click="back()" class="button button-icon">
            <i class="icon ion-ios7-arrow-back ob-white-color"></i>
        </button>
        <h1 class="title ob-navbar-title">Book a Class</h1>
    </ion-nav-bar>
    <ion-content class="ob-grey-bg" scrollbar-x="false" scrollbar-y="false">
        <div class="menu1-content-div">
            <time-picker class="ob-form-timepicker"
                         show-time-picker="false"
                         data-inc-icon-class="ion ion-chevron-up"
                         data-dec-icon-class="ion ion-chevron-down"></time-picker>
            <div class="ob-list">
                <div class="ob-list-emptytext" ng-show="openClasses.length <= 0">No Classes on this Day</div>
                <div class="ob-list-row" ng-repeat="item in openClasses">
                    <div class="ob-list-col-flex">
                        <div class="ob-list-text">Starts: {{item.classtime}}</div>
                        <div class="ob-list-text">Open Slots: {{item.slotsopen}}</div>
                    </div>
                    <div class="ob-list-col-auto">
                        <div class="ob-button ob-button-blue ob-margins0" ng-click="bookClass(item)">Book</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
