<ion-view>
    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <button ng-click="toggleMenu()" class="button button-icon">
                <i class = "icon ion-navicon">
                </i>
            </button>

            <h2 class="title">{{header}}</h2>

            <a href="#/menu/{{header}}" class="button button-icon">
                <i class = "icon ion-ios7-paper-outline">
                </i>Listview
            </a>

        </div>
    </ion-header-bar>

    <ion-content>
        <ul class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Class Name</span>
                <input type="text" ng-model="newclass.name" placeholder="Class Name">
            </label>
            <label class="item item-input">
                <span>{{gym.name}}</span>
                <button ng-click="showGymSelectionModal()" class="button button-calm">Select Gym</button>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Category
                </div>
                <select ng-model="newclass.category" ng-options="category.name for category in categories">
                </select>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Description</span>
                <input type="text" ng-model="newclass.information" placeholder="Description">
            </label>

            <div class="item range range-positive">
                <span class="input-label">Duration {{newclass.duration}}min</span>
                <input class="ob-form-range" type="range" name="volume" min="0" max="120" step="30" ng-model="newclass.duration">
            </div>

            <div class="item range range-positive">
                <span class="input-label">Slots Open</span>
                <input type="number" ng-model="newclass.slotsopen">
            </div>

            <div class="item range range-positive">
                <span class="input-label">Tokens</span>
                <input type="number" ng-model="newclass.tokens">
            </div>

            <div class="item range">
                <span class="input-label">Instructor</span>
                <input type="text" ng-model="newclass.instructor">
            </div>

            <div class="item ob-form-row ob-form-flex-row">
                <time-picker class="ob-form-timepicker" show-date-picker="false" data-inc-icon-class="ion ion-chevron-up" data-dec-icon-class="ion ion-chevron-down"></time-picker>
            </div>

            <label class="item item-input item-select">
                <div class="input-label">
                    Repeat
                </div>
                <select ng-model="newclass.repeat[0]" ng-options="repeat.interval for repeat in repeatIntervals">
                </select>
            </label>

            <div class="item item-input item-select" ng-show="newclass.repeat[0] && newclass.repeat[0].interval == 'Weekly'">
                <span class="input-label">Select day</span>
                <select ng-model="newclass.repeat[0].day">
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wednesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
            </div>

            <div class="item item-input item-select" ng-show="newclass.repeat[0] && newclass.repeat[0].interval == 'Monthly'">
                <span class="input-label">Select day</span>
                <select ng-model="newclass.repeat.day">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>
            </div>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Additional Comments</span>
                <input type="text" ng-model="newclass.comment" placeholder="Where is the class?">
            </label>

            <label class="item item-input item-stacked-label">
                <button ng-click="createClass()" class="button button-calm">Confirm</button>
            </label>
        </ul>
    </ion-content>
</ion-view>