<ion-modal-view>
    <ion-header-bar class="ob-darkpurple-bg">
        <div class="buttons">
        </div>
        <h1 class="title ob-navbar-title">Mobile Trainers</h1>
        <div class="buttons">
            <button ng-click="closeSelectTrainerModal()" class="button button-icon">
                <i class="icon ion-close ob-white-color"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="ob-grey-bg">
        <div class="ob-content ob-sections-vertical">
            <button class="ob-block-button ob-button-blue ob-section-0-0" ng-click="confirmSelectTrainerModal()">Confirm</button>
            <ion-scroll class="ob-scroll ob-section-3" direction="y">
                <div class="ob-scroll-row" ng-repeat="item in mobile_trainers | orderBy:'distance'">
                    <div class="ob-scroll-col-img">
                        <img class="ob-scroll-img" src="https://s3.amazonaws.com/com.onebody.profile/Users/{{item.$id | htmlEncode}}/profilepic.jpg"
                             ng-click="window.location.href = '#/menu/{{item.group}}/{{item.$id}}'"/>
                    </div>
                    <div class="ob-scroll-col-flex">
                        <div ng-click="showOnMap(item)">
                            <div class="ob-scroll-text"><span class="ob-scroll-text-demi">{{item.username}}</span>: {{item.name}}</div>
                            <div class="ob-scroll-text">{{item.distance}}</div>
                            <div class="ob-scroll-text-demi" ng-show="item.distance > item.radius/1000">You are out of trainer's travel radius</div>
                        </div>
                    </div>
                    <div class="ob-scroll-col-right">
                        <label class="checkbox">
                            <input type="checkbox" class="ob-list-checkbox" ng-model="item.checked">
                        </label>
                    </div>
                </div>
            </ion-scroll>
            <div id="mobile-trainer-location" class="ob-block-map ob-section-3" data-tap-disabled="true"></div>
        </div>
    </ion-content>
</ion-modal-view>
