<ion-modal-view>
    <ion-header-bar class="ob-darkpurple-bg">
        <div class="buttons">
        </div>
        <h1 class="title ob-navbar-title">Select Mobile Trainers</h1>
        <div class="buttons">
            <button ng-click="closeSelectTrainerModal()" class="button button-icon">
                <i class="icon ion-close ob-white-color"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="ob-grey-bg">
        <ion-scroll class="increq-scroll choose-trainer-scroll" direction="y">
            <div class="ob-search-list">
                <div class="ob-search-list-row" type="item-text-wrap" ng-repeat="item in mobile_trainers | orderBy:'distance'" style="padding: 0px">
                    <a class="ob-search-list-row-left" href="#/menu/{{item.group}}/{{item.$id}}">
                        <img class="ob-search-list-img" src="{{item.profilepic}}"/>
                    </a>
                    <div class="ob-search-list-row-right ob-search-list-text" ng-click="showOnMap(item)">
                        <div ng-click="showOnMap(item)">
                            <div><span class="ob-search-list-text-demi">{{item.username}}</span>: {{item.name}}</div>
                            <div>{{item.distance}}</div>
                        </div>
                    </div>
                    <div class="ob-search-list-row-right">
                        <label class="checkbox" style="float: right;">
                            <input type="checkbox" ng-model="item.checked">
                        </label>
                    </div>
                </div>
            </div>
        </ion-scroll>
        <!--
        <ion-scroll direction="y" style="width: 100%; height: 200px">
            <div class="list">
                <div class="item" type="item-text-wrap" ng-repeat="item in mobile_trainers | orderBy:'distance'" style="padding: 0px">
                    <a href="#/menu/{{item.group}}/{{item.$id}}">
                        <img src="{{item.profilepic}}" style="margin: 12px; width: 40px; height: 40px; float: left">
                    </a>
                    <div ng-click="showOnMap(item)" style="width: 70%; height: 64px; padding: 5px; float: left;">
                        <h2>{{item.username}}{{item.name}} <span>{{item.distance}}</span></h2>
                    </div>
                    <label class="checkbox" style="float: right;">
                        <input type="checkbox" ng-model="item.checked">
                    </label>
                </div>
            </div>
        </ion-scroll>
        -->
        <div class="item increq-map-container choose-trainer-map-container">
            <div id="mobile-trainer-location" class="increq-map" data-tap-disabled="true"></div>
        </div>
        <button class="ob-block-button ob-blue-button" ng-click="confirmSelectTrainerModal()">Confirm</button>
    </ion-content>
</ion-modal-view>
