<ion-view>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <div class="ob-list">
                <a class="ob-list-row" ng-repeat="item in items"
                   href="#/menu/Users/{{item.$id}}">
                    <div class="ob-list-col-img">
                        <img class="ob-list-img" src="https://s3.amazonaws.com/com.onebody.profile/Users/{{item.$id | htmlEncode}}/profilepic.jpg"/>
                    </div>
                    <div class="ob-list-col-flex">
                        <div class="ob-list-text">
                            {{item.username}}
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>