<ion-view>
    <ion-header-bar class="ob-darkpurple-bg">
        <div class="buttons">
            <button ng-click="toggleMenu()" class="button button-icon">
                <i class="icon ion-navicon ob-white-color"></i>
            </button>
        </div>
        <h1 class="title"><span class="ob-nav-bar-logo"></span></h1>
    </ion-header-bar>
    <ion-content class="has-header ob-grey-bg">
        <div class="menu1-content-div">
            <div class="ob-form">
                <div class="ob-form-row">
                    <textarea class="ob-form-textarea ob-form-textarea-small"
                              ng-model="newrequest.message"
                              placeholder="Message for mobile request"></textarea>
                </div>
                <div class="ob-form-row ob-form-flex-row" ng-click="openDatePicker()">
                    <span class="ob-form-prompt">Start time</span>
                    <span class="ob-form-text">{{newrequest.starttime}}</span>
                </div>
                <div class="ob-form-row ob-form-flex-row">
                    <span class="ob-form-prompt">Duration</span>
                    <span class="ob-form-text">{{newrequest.duration}}min</span>
                    <input class="ob-form-range" type="range" name="volume" min="0" max="120" step="30" ng-model="newrequest.duration">
                </div>
                <div class="ob-form-row ob-form-flex-row" ng-click="openMap()">
                    <span class="ob-form-text">Select Location from Map</span>
                    <span class="ob-form-icon-right ob-form-icon-rightarrow"></span>
                </div>
                <div class="ob-form-row ob-form-flex-row">
                    <span class="ob-form-prompt">Location</span>
                    <input class="ob-form-text-input" type="text"
                           ng-model="newrequest.location" placeholder=""/>
                </div>
                <div class="ob-form-row">
                    <textarea class="ob-form-textarea ob-form-textarea-small"
                              ng-model="newrequest.commentlocation"
                              placeholder="Comments on location"></textarea>
                </div>
                <div class="ob-form-row ob-form-flex-row" ng-click="openSelectTrainerModal()">
                    <span class="ob-form-text-input">Select Trainers</span>
                    <span class="ob-form-icon-right ob-form-icon-rightarrow"></span>
                </div>
            </div>
            <button class="ob-block-button ob-blue-button" ng-click="confirmRequest()">Confirm</button>
        </div>
    </ion-content>
</ion-view>
