<ion-view>
    <ion-header-bar class="ob-dark-bg">
        <div class="buttons">
            <button ng-click="toggleMenu()" class="button button-icon">
                <i class="icon ion-navicon ob-white-color"></i>
            </button>
        </div>
        <h1 class="title"><img class="ob-nav-bar-logo" src="img/Logo.png"/></h1>
    </ion-header-bar>
    <ion-content class="has-header menu2-content">
        <div class="menu1-content-div">
            <div class="ob-form">
                <div class="ob-form-row ob-form-row-autoheight">
                    <textarea class="ob-form-textarea ob-form-textarea-small" ng-model="newrequest.message" placeholder="Message for mobile request"></textarea>
                </div>
                <div class="ob-form-row ob-form-text-input-row" ng-click="openDatePicker()">
                    <span class="ob-form-text-input-prompt">Start time</span>
                    <span class="ob-form-text-input">{{newrequest.starttime}}</span>
                </div>
                <div class="ob-form-row ob-form-select-row ob-form-range-row">
                    <span class="ob-form-range-prompt"><span class="ob-blue-color">Duration</span>&nbsp;&nbsp;{{newrequest.duration}}min</span>
                    <input class="ob-form-range" type="range" name="volume" min="0" max="120" ng-model="newrequest.duration">
                </div>
                <div class="ob-form-row ob-form-text-input-row" ng-click="openMap()">
                    <span class="ob-form-text-input">Tap here to open map</span>
                </div>
                <div class="ob-form-row ob-form-text-input-row">
                    <span class="ob-form-text-input-prompt">Location</span>
                    <input class="ob-form-text-input" type="text" ng-model="newrequest.location" placeholder=""/>
                </div>
                <div class="ob-form-row ob-form-row-autoheight">
                    <textarea class="ob-form-textarea ob-form-textarea-small" ng-model="newrequest.commentlocation" placeholder="Comments on location"></textarea>
                </div>
                <div class="ob-form-row ob-form-text-input-row" ng-click="openSelectTrainerModal()">
                    <span class="ob-form-text-input">Tap here to select trainers</span>
                </div>
            </div>
            <button class="block-blue-button" ng-click="confirmRequest()">Confirm</button>
        </div>
    </ion-content>
</ion-view>
