
<ion-view>
    <!--<ion-nav-bar class="bar-stable nav-title-slide-ios7">-->
        <!--<ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">-->
            <!--Back-->
        <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->

    <ion-header-bar class="bar-dark">
        <div class="buttons">
            <button ng-click ="toggleMenu()" class = "button button-icon" >
                <i class = "icon ion-navicon">
                </i>
            </button>
            <h2 class="title">Trainers</h2>
            <a href="#/menu/map" class = "button button-icon" >
                <i class = "icon ion-map">
                </i> Mapview
            </a>
        </div>
    </ion-header-bar>

    <ion-content>
        <ion-header-bar>
            <!--<div class="tabs tabs-icon-left tabs-background-positive">-->
            <div class="tabs tabs-icon-left">
                <a class="tab-item" href="#/menu/Trainers" >
                    <i class="icon ion-home"></i>
                    Trainers
                </a>
                <a class="tab-item" href="#/menu/Events" >
                    <i class="icon ion-star"></i>
                    Events
                </a>
                <a class="tab-item" href="#/menu/Trainers" >
                    <i class="icon ion-gear-a"></i>
                    Classes
                </a>
            </div>
            <!--</div>-->
        </ion-header-bar>
        <ion-content>
        <ion-list>
            <a ng-repeat="item in items | orderBy:'distance'" class="item item-avatar" type="item-text-wrap" href="#/menu/Trainers/{{item.$id}}">
                <img src="{{item.imgLink}}">
                <h2>{{item.username}}{{item.name}}</h2>
                <p>{{item.info}}</p>
            </a>

            <!--<ion-item ng-repeat="item in items | orderBy:'distance'" type="item-text-wrap" href="#/menu/Trainers/{{item.$id}}">-->
                <!--{{item.username}}{{item.name}}-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>
    </ion-content>
</ion-view>