<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
<button class="button button-assertive" ng-click="collapse = !collapse">Select Date</button>

<div collapse="collapse" >
    <datepicker ng-model="dt" min-date="minDate" class="well well-sm" show-weeks="false"></datepicker>
    <!--<button class="button button-balanced" >Confirm</button>-->
</div>

<button class="button button-calm" ng-click="confirm()">Confirm</button>
<table style="width: 100%;">
    <tr ng-repeat="time in timeslots track by $index" style="height: 30px">
        <td style="width: 50%; border-bottom: 1px solid white; vertical-align: middle; text-align: center;">
            {{time | displayTime}}
        </td>
        <td style="width: 35%; border-bottom: 1px solid white; height: 30px; vertical-align: middle;">
            <div ng-show="!active[$index]" style="width: 100%; border-radius: 5px; vertical-align: middle; text-align: center;">Open</div>
            <div ng-show="active[$index]" style="width: 100%; border-radius: 5px; vertical-align: middle; text-align: center;">Set</div>
        </td>
        <td style="width: 15%; border-bottom: 1px solid white; height: 30px">
            <button ng-show="!active[$index]" class="button button-dark" ng-click="selectTime($index)">
                <i class="icon ion-plus"></i>
            </button>
            <button ng-show="active[$index]" class="button button-dark" ng-click="selectTime($index)">
                <i class="icon ion-checkmark"></i>
            </button>
        </td>
    </tr>
</table>


<!--<tr >-->
<!--<td ng-repeat="time in timeslots track by $index" colspan="{{colspan}}" ng-click="selectTime($index)" style="width: 120px; border-left: 1px solid">-->
<!--<span style="margin-right: 10px">{{time | displayTime}}</span>-->
<!--</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td ng-repeat="quarter in quarters track by $index" style="background: {{quarter && 'red' || 'green'}}; height: 5px;">-->
<!--</td>-->
<!--</tr>-->