<time-picker dt="dt" show-time-picker="false" data-inc-icon-class="ion ion-chevron-up" data-dec-icon-class="ion ion-chevron-down"></time-picker>
<table style="width: 100%">
    <tr ng-repeat="time in timeslots track by $index" style="height: 30px">
        <td style="width: 50%; border-bottom: 1px solid white; vertical-align: middle; text-align: center;">
            {{time | displayTime}}
        </td>
        <td style="width: 35%; border-bottom: 1px solid white; height: 30px; vertical-align: middle;">
            <div ng-show="chosen[$index] == 0" style="width: 100%; border-radius: 5px; vertical-align: middle; text-align: center;">Available</div>
            <div ng-show="chosen[$index] == 1" style="width: 100%; border-radius: 5px; vertical-align: middle; text-align: center;">Selected</div>
        </td>
        <td style="width: 15%; border-bottom: 1px solid white; height: 30px">
            <button ng-show="chosen[$index] == 0" class="button button-dark" ng-click="selectTime($index)">
                <i class="icon ion-plus"></i>
            </button>
            <button ng-show="chosen[$index] == 1" class="button button-dark" ng-click="selectTime($index)">
                <i class="icon ion-checkmark"></i>
            </button>
        </td>
    </tr>
</table>
<button ng-click="charge()">okay</button>
<button ng-click="printTime()">checktime</button>