<ion-view>
    <ion-nav-bar class="ob-darkpurple-bg">
        <button class="button button-icon" ng-click="goTo('#/menu/Trainers/{{trainerID}}/')">
            <i class="icon ion-ios7-arrow-back ob-white-color"></i>
        </button>
        <h1 class="title ob-navbar-title">Book a Session</h1>
    </ion-nav-bar>
    <ion-content class="has-header ob-grey-bg">
        <div class="menu1-content-div">
            <scheduler-user-view></scheduler-user-view>
        </div>
    </ion-content>
</ion-view>
