<link rel="stylesheet" type="text/css" href="css/trainer.css">
<ion-view class="ob-search-list-view">
    <ion-header-bar class="ob-dark-bg">
        <div class="buttons ">
            <button ng-click ="toggleMenu()" class="button button-icon button-dark">
                <i class="icon ion-navicon"></i>
            </button>
        </div>
            <h2 class="title">Trainers</h2>
        <div class="buttons">
            <a href="#/menu/map" class="button button-icon button-dark" style="margin: auto;">
                <i class="icon ion-map"></i>
            </a>
        </div>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader ob-trainer-bar-container">
        <div class="ob-trainer-bar">
            <a class="ob-trainer-bar-button" href="#/menu/Trainers">Professionals</a>
            <a class="ob-trainer-bar-button" href="#/menu/Trainers">Classes</a>
            <a class="ob-trainer-bar-button" href="#/menu/Events">Events</a>
        </div>
    </ion-header-bar>
    <ion-content class="ob-search-list-view-content">
        <div class="ob-search-list">
            <div class="ob-search-list-row">
                <div class="ob-search-list-row-left">
                    <img class="ob-search-list-img" src="img/map/tmp/search_list_greg_hetherington.png"/>
                </div>
                <div class="ob-search-list-row-right">
                    <div class="ob-search-list-text">
                       <span class="ob-search-list-text-title ob-blue-color">Greg Hetherington</span>,
                       <span class="ob-search-list-profession">Personal Trainer</span>
                       <span class="ob-search-list-distance">1.6km</span>
                    </div>
                    <div class="ob-search-list-stars">
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                    </div>
                </div>
            </div>
            <div class="ob-search-list-row">
                <div class="ob-search-list-row-left">
                    <img class="ob-search-list-img" src="img/map/tmp/search_list_tara_wells.png"/>
                </div>
                <div class="ob-search-list-row-right">
                    <div class="ob-search-list-text">
                       <span class="ob-search-list-text-title ob-blue-color">Tara Wells</span>,
                       <span class="ob-search-list-profession">Personal Trainer</span>
                       <span class="ob-search-list-distance">1.7km</span>
                    </div>
                    <div class="ob-search-list-stars">
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                    </div>
                </div>
            </div>
            <div class="ob-search-list-row">
                <div class="ob-search-list-row-left">
                    <img class="ob-search-list-img" src="img/map/tmp/search_list_shelly_anderson.png"/>
                </div>
                <div class="ob-search-list-row-right">
                    <div class="ob-search-list-text">
                       <span class="ob-search-list-text-title ob-blue-color">Shelly Anderson</span>,
                       <span class="ob-search-list-profession">Pilates</span>
                       <span class="ob-search-list-distance">2.0km</span>
                    </div>
                    <div class="ob-search-list-stars">
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                        <img class="ob-search-list-star" src="img/map/tmp/search_list_star.png"/>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <ion-list>
            <a ng-repeat="item in items | orderBy:'distance'" class="item item-avatar" type="item-text-wrap" href="#/menu/Trainers/{{item.$id}}">
                <img src="{{item.imgLink}}">
                <h2>{{item.username}}{{item.name}}</h2>
                <p>{{item.info}}</p>
            </a>
        -->

            <!--<ion-item ng-repeat="item in items | orderBy:'distance'" type="item-text-wrap" href="#/menu/Trainers/{{item.$id}}">-->
                <!--{{item.username}}{{item.name}}-->
            <!--</ion-item>-->
        <!--
        </ion-list>
        -->
    </ion-content>
</ion-view>
