<ion-modal-view>
    <ion-header-bar align-title="center" class="ob-darkpurple-bg">
        <h1 class="title ob-navbar-title"></h1>
        <div class="buttons">
            <button ng-click="closeScheduleModal()" class="button button-icon">
                <i class="icon ion-close ob-white-color"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content class="has-header ob-grey-bg">
        <div class="menu1-content-div">
            <div class="ob-form-subrow">
                <p class="ob-form-text ob-blue-color">{{edit.time | displayTime}}</p>

                <p class="ob-form-text ob-blue-color">remove this timeslot from my schedule</p>
                <button class="button button-calm" ng-click="removeTimeSlot(edit.index)">
                    <i class="icon ion-minus-round ob-form-ionicon ob-color-red"></i>
                </button>


                <div ng-show="active[edit.index].status == -1" class="ob-form-button" ng-click="selectTime(edit.index)">Not Available</div>
                <div ng-show="active[edit.index].status == 0" class="ob-form-button" ng-click="selectTime(edit.index)">Available</div>
                <div ng-show="active[edit.index].status == 1" class="ob-form-button" ng-click="selectTime(edit.index)">Booked</div>


                <div class="item item-toggle ob-form-toggle-container">
                    <span ng-show="active[edit.index].prime">Prime Time</span>
                    <span ng-hide="active[edit.index].prime">Off Time</span>
                    <label class="toggle toggle-positive ob-form-toggle">
                        <input type="checkbox" ng-model="active[edit.index].prime"/>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>

                <p class="ob-form-text ob-blue-color">Click to keep this time slot open</p>
                <div class="row" style="width: 80%; margin-left: 10%; margin-right: 10%">
                    <div ng-class="getSelectedClass(rules[edit.time][1])" class="col col-50 ob-form-button" ng-click="addRule($event, 1)">Monday</div>
                    <div ng-class="getSelectedClass(rules[edit.time][2])" class="col col-50 ob-form-button" ng-click="addRule($event, 2)">Tuesday</div>
                </div>
                <div class="row" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 20px">
                    <div ng-class="getSelectedClass(rules[edit.time][3])" class="col col-50 ob-form-button" ng-click="addRule($event, 3)">Wednesday</div>
                    <div ng-class="getSelectedClass(rules[edit.time][4])" class="col col-50 ob-form-button" ng-click="addRule($event, 4)">Thursday</div>
                </div>
                <div class="row" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 20px">
                    <div ng-class="getSelectedClass(rules[edit.time][5])" class="col col-50 ob-form-button" ng-click="addRule($event, 5)">Friday</div>
                    <div ng-class="getSelectedClass(rules[edit.time][6])" class="col col-50 ob-form-button" ng-click="addRule($event, 6)">Saturday</div>
                </div>
                <div class="row" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 20px">
                    <div ng-class="getSelectedClass(rules[edit.time][0])" class="col col-50 ob-form-button" ng-click="addRule($event, 0)">Sunday</div>
                </div>
            </div>



        </div>
    </ion-content>
</ion-modal-view>
