<ion-content class="ob-pale-bg" scrollbar-x="false" scrollbar-y="false">
    <div class="profile-top">
        <div class="follow-button"
             ng-show="!followerMe.username"
             ng-click="follow()"><img class="plus-icon" src="img/professional-profile/plus.png"/>Follow</div>
        <div class="following-button"
             ng-show="followerMe.username"
             ng-click="unfollow()"><img class="checkmark-icon" src="img/professional-profile/checkmark.png"/>Following</div>
        <div class="profile-top-padding-div"></div>
        <div class="profile-picture-div">
            <img class="profile-picture"
                 ng-click="openImageModal()"
                 src="https://s3.amazonaws.com/com.onebody.profile/Users/{{selectedTrainer.$id | htmlEncode}}/profilepic.jpg?userlogin={{selectedTrainer.modified}}"
                 onerror="this.src='img/emptypic-user.png'"/>
            <img class="profile-picture-tag" src="img/badge-professional.png"/>
        </div>
        <div class="full-name-container">
            <span class="full-name-left"></span>
            <span class="full-name">{{selectedTrainer.username}}</span>
            <span class="full-name-right">
                <img ng-show="true" class="full-name-icon profile-verified-icon" src="img/professional-profile/green-checkmark.png">
                <img ng-show="selectedTrainer.mobile" class="full-name-icon profile-car-icon" src="img/professional-profile/green-car.png">
            </span>
        </div>
        <p class="profession">{{selectedTrainer.profession}}</p>
        <p class="personal-quote">{{selectedTrainer.information}}</p>
        <div class="profile-stats-container">
            <span class="profile-stats-container-empty-item"></span>
                <span class="followers-item" ng-click="goTo('#/menu/Followers/' + selectedTrainer.$id)">
                    <div class="followers-count">{{sizes.numOfFollowers || 0}}</div>
                    <div>Followers</div>
                </span>
                <span class="profile-reviews-item">
                    <div class="profile-review-stars">
                        <img class="profile-review-star" src="img/professional-profile/blue-star-single.png"/>
                        <img class="profile-review-star" ng-hide="sizes.rating/sizes.numOfReviews > 1.4" src="img/professional-profile/white-star-single.png"/>
                        <img class="profile-review-star" ng-show="sizes.rating/sizes.numOfReviews > 1.4" src="img/professional-profile/blue-star-single.png"/>
                        <img class="profile-review-star" ng-hide="sizes.rating/sizes.numOfReviews > 2.4" src="img/professional-profile/white-star-single.png"/>
                        <img class="profile-review-star" ng-show="sizes.rating/sizes.numOfReviews > 2.4" src="img/professional-profile/blue-star-single.png"/>
                        <img class="profile-review-star" ng-hide="sizes.rating/sizes.numOfReviews > 3.4" src="img/professional-profile/white-star-single.png"/>
                        <img class="profile-review-star" ng-show="sizes.rating/sizes.numOfReviews > 3.4" src="img/professional-profile/blue-star-single.png"/>
                        <img class="profile-review-star" ng-hide="sizes.rating/sizes.numOfReviews > 4.4" src="img/professional-profile/white-star-single.png"/>
                        <img class="profile-review-star" ng-show="sizes.rating/sizes.numOfReviews > 4.4" src="img/professional-profile/blue-star-single.png"/>
                    </div>
                    <div>(<span class="profile-reviews-count">{{sizes.numOfReviews || 0}}</span> Reviews)</div>
                </span>
                <span class="following-item" ng-click="goTo('#/menu/Following/' + selectedTrainer.$id)">
                    <div class="following-count">{{sizes.numOfFollowing || 0}}</div>
                    <div>Following</div>
                </span>
            <span class="profile-stats-container-empty-item"></span>
        </div>
        <a class="profile-main-action-button"
           ng-href="#/menu/trainer-schedule-calendar/{{selectedTrainer.$id}}/{{selectedTrainer.username}}">Book a session!</a>
    </div>
    <div class="profile-bottom profile-bottom-paddingtop">
        <div class="profile-feed-review-list">
            <div class="profile-feed-review-list-emptytext"
                 ng-show="reviews.length <= 0">You have no reviews at the moment</div>
            <a class="profile-feed-review-list-row" ng-repeat="review in reviews | orderBy: '-created'" ng-href="#/menu/Users/{{review.userID}}">
                <span class="profile-feed-review-list-row-left">
                    <img class="profile-feed-review-list-img"
                         src="https://s3.amazonaws.com/com.onebody.profile/Users/{{review.userID | htmlEncode}}/profilepic.jpg"
                         onerror="this.src='img/emptypic-user.png'"/>
                </span>
                <span class="profile-feed-review-list-row-right">
                    <div class="profile-feed-review-text"><span class="text-bold">{{review.userID}}</span> {{review.text}}
                        <span class="profile-feed-review-creation">{{review.created | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                    <div class="profile-feed-review-stars">
                        <span class="profile-feed-review-star" ng-show="review.rating > 0" id="profile-feed-review-star-1"></span>
                        <span class="profile-feed-review-star" ng-show="review.rating > 1" id="profile-feed-review-star-2"></span>
                        <span class="profile-feed-review-star" ng-show="review.rating > 2" id="profile-feed-review-star-3"></span>
                        <span class="profile-feed-review-star" ng-show="review.rating > 3" id="profile-feed-review-star-4"></span>
                        <span class="profile-feed-review-star" ng-show="review.rating > 4" id="profile-feed-review-star-5"></span>
                    </div>
                </span>
            </a>


            <div class="ob-feedend-container" ng-show="!hasMoreReviews">
                <span class="ob-feedend-line"></span>
                <span class="ob-feedend-ornament"></span>
                <span class="ob-feedend-line"></span>
            </div>
            <!--<button class="ob-block-button ob-button-blue" ng-show="reviews.length == 5" ng-click="moreReviews()">More Reviews</button>-->
        </div>
        <!--
        <ion-list>
            <ion-item ng-repeat="review in reviews" ng-click="replyto()">
                <p><strong>{{review.userID}}</strong></p>
                <p>
                <rating ng-model="rate" max="5" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating> {{review.creation}}
                </p>
                <p>{{review.text}}</p>
                <p style="font-size: 10px">{{review.username}} left at: {{review.creation}}</p>
            </ion-item>
            <p ng-show="reviews.length < 5">No more reviews</p>
            <button ng-show="reviews.length == 5" class="button" ng-click="moreReviews()">More reviews</button>
        </ion-list>
        -->
    </div>
    <ion-infinite-scroll
            ng-if="hasMoreReviews"
            on-infinite="moreReviews()"
            distance="1%">
    </ion-infinite-scroll>
</ion-content>
