<ion-view view-title="Transactions" cache-view="false">
    <ion-nav-buttons side="right">
        <a ng-href="#/menu/calendar/my-schedule/{{$root.user.$id}}/{{$root.user.username}}" class="button button-icon icon ion-calendar"></a>
    </ion-nav-buttons>
    <ion-content class="ob-page">
        <div class="ob-content">
            <div class="ob-card">
                <div class="ob-text">Total Earnings From {{params.userName}}: ${{total | number: 2}}</div>
                <img class="ob-img"
                     src="https://s3.amazonaws.com/com.onebody.profile/Users/{{params.userID | htmlEncode}}/profilepic.jpg"
                     onerror="this.src='img/emptypic-user.png'"/>
                <div class="ob-text">User: {{params.userName}}</div>
            </div>
            <div class="ob-form ob-form-light">
                <div class="ob-form-row ob-form-flex-row">
                    <span class="ob-form-prompt">Chart Type</span>
                    <span class="ob-form-text"></span>
                    <div class="ob-form-select-container ob-form-select-container-xlarge">
                        <select class="ob-form-select ob-form-select-xlarge"
                                ng-model="chartType">
                                <option value="pie">Pie</option>
                                <option value="bar">Bar</option>
                                <option value="line">Line</option>
                                <option value="area">Area</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="chart1" class="ob-chart" ac-chart="chartType" ac-data="data1" ac-config="config1"></div>
            <div class="ob-block" ng-show="monthlyTransactions.length <= 0">
                <div class="ob-text">No sessions to display</div>
            </div>
            <div class="ob-card">
                <div ng-repeat="tran in monthlyTransactions | orderBy: '-yearMonth'"
                     class="ob-card-child">
                    <div class="ob-block">
                        <div class="ob-text">Total Earnings {{tran.yearMonth}}: ${{tran.total |  number:2}}</div>
                    </div>
                    <div class="ob-list">
                        <a class="ob-list-superrow"
                           ng-repeat="item in tran.transactions | orderBy: '-starttime'"
                           ng-href="#/menu/transaction-detail/{{item.$id}}">
                            <div class="ob-list-row">
                                <div class="ob-list-col-flex ob-list-text"><span class="ob-grey-color">Start: </span>{{item.starttime | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div class="ob-list-col-flex ob-list-text"><span class="ob-grey-color">Created: </span>{{item.created | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div class="ob-list-col-flex ob-list-text"><span class="ob-grey-color">Duration: </span>{{item.duration * 30}} mins</div>
                            </div>
                            <div class="ob-list-row">
                                <div class="ob-list-col-flex ob-list-text"><span class="ob-grey-color">Tokens: </span>{{item.tokens}}</div>
                                <div class="ob-list-col-flex ob-list-text"><span class="ob-grey-color">Review: </span>{{item.text}}</div>
                                <div class="ob-list-col-flex profile-feed-review-stars">
                                    <span class="profile-feed-review-star" ng-show="item.review.rating > 0" id="profile-feed-review-star-1"></span>
                                    <span class="profile-feed-review-star" ng-show="item.review.rating > 1" id="profile-feed-review-star-2"></span>
                                    <span class="profile-feed-review-star" ng-show="item.review.rating > 2" id="profile-feed-review-star-3"></span>
                                    <span class="profile-feed-review-star" ng-show="item.review.rating > 3" id="profile-feed-review-star-4"></span>
                                    <span class="profile-feed-review-star" ng-show="item.review.rating > 4" id="profile-feed-review-star-5"></span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
