<ion-view>
    <ion-content class="ob-grey-bg">
        <div ng-click="">
            <span>
                <img class="ob-list-img"
                 src="https://s3.amazonaws.com/com.onebody.profile/Users/{{user.$id | htmlEncode}}/profilepic.jpg"
                 onerror="this.src='img/emptypic-user.png'"/>
            </span>
            <span>{{user.username}}</span>
            <a class="button button-calm" ng-href="#/menu/conversations/{{user.$id}}">Talk to user</a>
        </div>

        <div>
            <p>Tokens: {{transaction.tokens}}</p>
            <p>Starttime: {{transaction.starttime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <p>Duration: {{transaction.duration * 30}} Minutes</p>
        </div>

        <div>
            <leaflet id="transaction-location" class="ob-block-map ob-section-3" layers="layers" markers="markers" data-tap-disabled="true" center="center" defaults="defaults" ng-init="doMapInit()"></leaflet>
        </div>
        <p>My Transactions:</p>
        <div class="button-bar">
            <a class="button button-calm" ng-click="accountingThisUser()">With this user</a>
            <a class="button button-calm" ng-click="accountingThisMonth()">This month</a>
        </div>

    </ion-content>
</ion-view>
