
.profile-top {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background: #999 url("/img/professional-profile/Image2-shade-cropped.jpg") center/400px 420px no-repeat;
    padding-bottom: 2em;
}

.follow-button, .following-button {
    font-family: 'Avenir Next LT Pro', sans-serif;
    position: absolute;
    top: 8px;
    left: 8px;
    height: 30px;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    font-size: 1em;
}

.follow-button {
    color: white;
    background-color: transparent;
}

.following-button {
    color: black;
    background-color: white;
}

.follow-button:active {
    background-color: white;
}

.following-button:active {
    background-color: black;
}

.plus-icon {
    width: 10px;
    height: 10px;
    margin-right: 6px;
}

.checkmark-icon {
    width: 12.5px;
    height: 9.5px;
    margin-right: 6px;
}

.profile-top-padding-div {
    width: 100%;
    height: 3vh;
    min-height: 8px;
}

.profile-picture-div {
    position: relative;
    margin: 0 auto 1vh;
    width: 17vh;
    height: 17vh;
    min-width: 100px;
    min-height: 100px;
    max-width: 300px;
    max-height: 300px;
}

.profile-picture {
    width: 100%;
    height: 100%;
}

.profile-picture-tag {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 65%;
    top: 0%;
}

.profile-picture-tag-centered-div {
    position: relative;
    margin: 0 auto 1vh;
    width: 10vh;
    height: 10vh;
    min-width: 50px;
    min-height: 50px;
    max-width: 300px;
    max-height: 300px;
}

.profile-picture-tag-centered {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.full-name-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: center;
    -web-kit-align-items: center;
    align-items: center;
}

.full-name-left, .full-name-right {
    -moz-flex: 99 99 0px;
    -webkit-flex: 99 99 0px;
    flex: 99 99 0px;
}

.full-name-right {
    margin-left: 5px;
}

.full-name {
    flex: 1 1 auto;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    color: white;
}

.full-name-icon {
    width: 19px;
    height: 19px;
}

.profile-verified-icon {
}

.profile-car-icon {
}

.profession {
    margin: 0.2em auto 0em;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

.personal-quote {
    margin: 0.5em auto 0.1em auto;
    width: 78%;
    font-size: 1.2em;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-style: italic;
    text-align: center;
    color: white;
}

.time-block {

}

.clock-icon {
    width: 14.5px;
    height: 14.5px;
    display: block;
    margin: 26px auto 0px;
}

.time-text {
    text-align: center;
    margin: 5px auto 17px;
    width: 184px;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: white;
}

.profile-stats-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.profile-stats-container-empty-item {
    -moz-flex: 99 99 0px;
    -webkit-flex: 99 99 0px;
    flex: 99 99 0px;
}

.followers-item, .following-item, .achieved-item, .reviews-item {
    -moz-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    font-family: 'Avenir Next LT Pro', sans-serif;
    color: white;
    text-align: center;
}

.followers-item, .following-item, .achieved-item {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    padding-top: 8px;
}

.followers-item {
    padding-right: 10px;
}

.following-item {
    padding-left: 10px;
}

.achieved-item {
    padding-left: 8px;
    padding-right: 8px;
}

.following-count, .followers-count, .achieved-count {
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
    font-size: 1.2em;
}

.reviews-item {
}

.review-stars {
    white-space: nowrap;
}

.review-star {
    width: 20px;
    height: 20px;
}

.profile-main-action-button {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 100;
    min-width: 264px;
    max-width: 80%;
    border: none;
    border-radius: 10px;
    background-color: #3177e8;
    font-family: 'Avenir Next LT Pro', sans-serif;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1em;
    padding: 0.85em 0.5em;
}

.profile-main-action-button:active {
    background-color: #2b6acf;
    color: #e6e6e6;
}

.profile-main-action-button .first-word {
    font-family: 'AvenirNextLTPro-Bold', sans-serif;
    font-weight: bold;
}

.profile-main-action-bar {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 100;
    background-color: #3177e8;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 8px;
}

.profile-main-action-bar-button {
    background-color: #2b6acf;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15.5px;
    color: white;
    border: none;
    border-right: 1px solid #70727f;
    width: 120px;
    height: 45px;
}

.profile-main-action-bar-button:active {
    background-color: white;
}

.profile-main-action-bar-button:first-child {
    width: 110px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.profile-main-action-bar-button:last-child {
    width: 59px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: none;
}

.profile-ellipsis-icon {
    width: 23.5px;
    height: 4.5px;
}

.profile-bottom {
    height: 100%;
    min-height: 300px;
    background-color: rgb(225,225,225);
}

.profile-tab-bar-container {
    background: rgb(225,225,225) url("/img/professional-profile/menu-separator.png") center 100%/100% 1px no-repeat;
}

.profile-tab-bar {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
}

.profile-tab {
    display: none;
    position: relative;
    height: 64px;
    background-color: transparent;
    border: none;
}

.profile-tab-with-divider {
    background: transparent url("/img/professional-profile/menu-button-separator.png") 100% 1.9em/1px calc(100% - 1.9em - 0.5em) no-repeat;
}

.profile-tab-icon {
    position: absolute;
    left: 50%;
    bottom: 8px;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    width: 25px;
    height: 25px;
}

#profile-tab-1 {
}

#profile-tab-2 {

}

#profile-tab-3 {
}

#profile-tab-4 {

}

#profile-tab-icon-1 {
}

#profile-tab-icon-2 {
}

#profile-tab-icon-3 {
}

#profile-tab-icon-4 {
}

.profile-map-container {
    width: 100%;
    height: 88px;
    background-color: #999;
}

.profile-map {
    width: 320px;
    height: 100%;
    margin: 0 auto;
    background: #999 url("/img/professional-profile/tmp/map-background.png") center/320px 99px no-repeat;
}

.profile-photos {
    position: relative;
    width: 320px;
    height: 105px;
    margin: 0px auto;
}

.profile-photo {
    width: 33.33333%;
    border-right: 1px solid #b7b7b7;
}

.profile-photo:last-child {
    border-right: none;
}

.profile-photos-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    right: 4px;
    width: 21px;
    height: 21px;
}

.profile-feed {
    width: 100%;
    border-bottom: 1px solid rgb(159, 159, 159);
}

.profile-feed-item {
    border-top: 1px solid #b7b7b7;
    background-color: #e5e5e5;
    width: 100%;
    height: 54px;
}

.profile-feed-thumbnail {
    float: left;
    width: 36px;
    height: 36px;
    margin: 9px;
}

.profile-feed-text {
    margin-top: 9px;
    line-height: 1em;
}

.profile-feed-message {
    color: #4e4e4e;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 1.1em;
}

.profile-feed-timestamp {
    color: #898989;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 1.1em;
}

.profile-feed-review-stars {
}

.profile-feed-review-star {
    width: 12px;
    height: 12px;
}

#profile-feed-review-star-1 {

}

#profile-feed-review-star-2 {

}

#profile-feed-review-star-3 {

}

#profile-feed-review-star-4 {

}

#profile-feed-review-star-5 {
    visibility: hidden;
}

.activity-feed {

}

.activity-row {
    display: table;
    text-align: left;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
}

.activity-image {
    float: left;
    width: 36px;
    height: 36px;
    margin: 7px 10px;
}

.activity-text {
    display: table-cell;
    vertical-align: middle;
    padding: 8px 10px 8px 3px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    line-height: 18px;
}

.activity-row-end {
    clear: both;
}

.linked-text {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    color: #3884ed;
}

.activity-time {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    color: #898989;
}
