<ion-view view-title="Images">
    <ion-content class="has-header ob-bg1">
        <div class="ob-content">
            <a class="ob-block-button ob-button-blue ob-button-shadow"
               ng-show="userID == myID"
               href="#/menu/add-image/{{type}}/{{id}}">Add image</a>
            <div class="ob-form" ng-show="userID == myID">
                <div class="ob-form-row">
                    <div class="item item-toggle ob-form-toggle-container">
                        Delete Mode
                        <label class="toggle toggle-positive ob-form-toggle">
                            <input type="checkbox" ng-model="edit.toggle"/>
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="ob-images-emptytext" ng-show="images.length <= 0">There are no images!</div>
            <div class="row">
                <div class="col col-33" ng-repeat="item in images | orderBy:'-created'">
                    <img src="{{item.hdurl}}" width="100%" ng-click="openImageModal(item)"/>
                    <div class="ob-image-message">{{item.message}}</div>
                    <!--<input type="text" ng-model="item.edit" ng-show="item.toggle && userID == myID" placeholder="image message"/>-->
                    <div class="button-block">
                        <button class="ob-button ob-button-blue"
                                ng-show="edit.toggle && userID == myID"
                                ng-click="delete(item)">Delete</button>
                        <!--<button class="ob-button ob-button-blue" ng-show="edit.toggle && userID == myID" ng-hide="item.toggle" ng-click="edit(item)">Edit</button>-->
                        <!--<button class="ob-button ob-button-blue" ng-show="item.toggle && userID == myID" ng-click="cancel(item)">Cancel</button>-->
                    </div>
                </div>
            </div>
            <div class="ob-feedend-container" ng-show="images.length < 9">
                <span class="ob-feedend-line"></span>
                <span class="ob-feedend-ornament"></span>
                <span class="ob-feedend-line"></span>
            </div>
            <button class="ob-block-button ob-button-dark"
                    ng-show="images.length >= 9"
                    class="button"
                    ng-click="moreImages()">More Images</button>
        </div>
    </ion-content>
</ion-view>
