<ion-view>
    <ion-content class="has-header menu1-content ob-search-list-view-content">
        <button class="button button-calm" ng-click="back()">Back</button>
        <a class="button button-calm" ng-show="userID == myID" href="#/menu/account/add-image/{{type}}/{{id}}">Add image</a>

        <label class="toggle toggle-assertive" ng-show="userID == myID">
            <input type="checkbox" ng-model="edit.toggle">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>

        <div class="row">
            <div class="col col-33" ng-repeat="item in images | orderBy:'-created'">
                <img src="{{item.hdurl}}" width="100%" ng-click="opendImageModal(item)"/>
                <p >{{item.message}}</p>
                <!--<input type="text" ng-model="item.edit" ng-show="item.toggle && userID == myID" placeholder="image message"/>-->
                <div class="button-block">
                    <button class="button button-calm" ng-show="edit.toggle && userID == myID" ng-click="delete(item)">Delete</button>
                    <!--<button class="button button-calm" ng-show="edit.toggle && userID == myID" ng-hide="item.toggle" ng-click="edit(item)">Edit</button>-->
                    <!--<button class="button button-calm" ng-show="item.toggle && userID == myID" ng-click="cancel(item)">Cancel</button>-->
                </div>

            </div>

        </div>
        <p class="profile-feed-end" ng-show="images.length < 9">No more images</p>
        <button class="ob-block-button ob-dark-button" ng-show="images.length >= 9" class="button" ng-click="moreImages()">More Images</button>
    </ion-content>
</ion-view>