<ion-modal-view class="ob-darktranslucent-bg">
    <ion-header-bar class="ob-darkpurple-bg">
        <h1 class="title ob-navbar-title">Image</h1>
        <!--{{image.message}}-->
        <div class="buttons">
            <button ng-click="closeImageModal()" class="button button-icon">
                <i class="icon ion-close ob-white-color"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="ob-content">
            <img class="ob-standardsize"
                 src="{{image.hdurl}}"
                 onerror="this.src='img/emptypic-user.png'">
                 <!--src="https://s3.amazonaws.com/com.onebody.profile/Users/{{selectedUser.$id | htmlEncode}}/profilepic.jpg"-->
        </div>
    </ion-content>
</ion-modal-view>
