<ion-modal-view class="ob-darktranslucent-bg">
    <ion-header-bar class="ob-darkpurple-bg">
        <h1 class="title ob-navbar-title">Image</h1>
        <!--{{image.message}}-->
        <div class="buttons">
            <button ng-click="closeImageModal()" class="button button-icon">
                <i class="icon ion-close ob-white-color"></i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="menu1-content-div">
            <img class="ob-standardsize"
                 src="{{image.hdurl}}">
        </div>
    </ion-content>
</ion-modal-view>
