<ion-view>
    <ion-nav-bar class="ob-darkpurple-bg">
        <button ng-click="back()" class="button button-icon">
            <i class="icon ion-ios7-arrow-back ob-white-color"></i>
        </button>
        <h1 class="title ob-navbar-title">Images</h1>
    </ion-nav-bar>
    <ion-content class="has-header menu1-content">
        <div class="menu1-content-div">
            <a class="ob-block-button ob-button-blue ob-button-shadow"
               ng-show="userID == myID"
               href="#/menu/add-image/{{type}}/{{id}}">Add image</a>
            <label class="toggle toggle-assertive" ng-show="userID == myID">
                <input type="checkbox" ng-model="edit.toggle">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
            <div class="row">
                <div class="col col-33" ng-repeat="item in images | orderBy:'-created'">
                    <img src="{{item.hdurl}}" width="100%" ng-click="opendImageModal(item)"/>
                    <p >{{item.message}}</p>
                    <!--<input type="text" ng-model="item.edit" ng-show="item.toggle && userID == myID" placeholder="image message"/>-->
                    <div class="button-block">
                        <button class="ob-button ob-button-blue"
                                ng-show="edit.toggle && userID == myID"
                                ng-click="delete(item)">Delete</button>
                        <!--<button class="ob-button ob-button-blue" ng-show="edit.toggle && userID == myID" ng-hide="item.toggle" ng-click="edit(item)">Edit</button>-->
                        <!--<button class="ob-button ob-button-blue" ng-show="item.toggle && userID == myID" ng-click="cancel(item)">Cancel</button>-->
                    </div>
                </div>
            </div>
            <p class="ob-feed-end-dark" ng-show="images.length < 9">No more images</p>
            <button class="ob-block-button ob-button-dark"
                    ng-show="images.length >= 9"
                    class="button"
                    ng-click="moreImages()">More Images</button>
        </div>
    </ion-content>
</ion-view>
