<ion-view>
    <ion-content class="ob-grey-bg" scroll="false">
        <ion-content class="map-content">
            <div class="map-gradient"></div>

            <div class="ob-header ob-map-header">
                <div class="ob-header-status-bar"></div>
                <div class="ob-header-nav-bar">
                    <div class="ob-header-icon">
                        <button ng-click="toggleMenu()" class="button button-icon button-dark">
                            <i class="icon ion-navicon-round"></i>
                        </button>
                    </div>
                    <div class="ob-header-flex-area">
                        <div class="ob-bar-search-input-container">
                            <i class="icon ion-search ob-bar-search-input-search-icon"></i>
                            <input type="search" class="ob-bar-search-input" placeholder="ex. hot yoga, boxing"
                                   ng-model="searchContainer.searchTerms" ng-keyup="searchTrainers($event)" focus-me/>
                        </div>
                    </div>
                    <div class="ob-header-icon">
                        <a class="ob-header-list-view-icon-container" href="#/menu/map">
                            <span class="ob-header-list-view-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="ob-map-header-bottom-white-line"></div>
            </div>

            <!--
                        <ion-header-bar class="ob-transparent-bar">
                            <div class="buttons">
                                <button ng-click="toggleMenu()" class = "button button-icon button-dark">
                                    <i class="icon ion-navicon-round"></i>
                                </button>

                                <label class="title item-input ob-bar-search-input-container">
                                    <i class="icon ion-search placeholder-icon"></i>
                                    <input type="text" placeholder="ex. hot yoga, boxing"
                                           ng-model="searchContainer.searchTerms" ng-keypress="search_popover.show($event)"/>
                                </label>

                                //<h2 class="title" ng-click="popover.show($event)">{{header}}</h2>

                                <a href="#/menu/{{header}}" class="button button-icon button-dark" style="padding: 5px">
                                    <i class="icon ion-clipboard"></i>
                                </a>
                            </div>

                            //<div class="ob-white-bottom-line"></div>

                        </ion-header-bar>
            -->

            <div class="ob-tabs">
                <a class="ob-tab-item" ng-class="{'ob-tab-selected':header === 'Users'}" ng-click="clickontab('Users', $event)">
                    &nbsp;Professionals&nbsp;
                </a>
                <a class="ob-tab-item" ng-class="{'ob-tab-selected':header === 'Classes'}" ng-click="clickontab('Classes', $event)">
                    Classes
                </a>
                <a class="ob-tab-item" ng-class="{'ob-tab-selected':header === 'Events'}" ng-click="clickontab('Events', $event)">
                    Events
                </a>
            </div>

            <div class="ob-search-list" style="padding-top: 130px;">
                <p class="ob-form-row ob-form-flex-row">
                    <span class="ob-form-prompt">Search Radius</span>
                    <span class="ob-form-text">{{searchContainer.radius  | number:0}}km</span>
                    <input class="ob-form-range" type="range" name="volume" min="0" max="50" ng-change="radiusChange()" ng-model="searchContainer.radius">
                </p>
                <a class="ob-search-list-row" ng-repeat="item in array track by $index | orderBy:'distance'" href="{{item.href}}">
                    <!--<a class="ob-search-list-row" ng-repeat="item in array | toArray | orderBy:'item.distance'" href="#/menu/{{item.group}}/{{item.$id}}">-->
                    <!--<div class="ob-search-list-row" ng-repeat="">-->
                    <div class="ob-search-list-row-left">
                        <img class="ob-search-list-img" src="https://s3.amazonaws.com/com.onebody.profile/{{$root.header}}/{{item.$id | htmlEncode}}/profilepic.jpg"/>
                    </div>
                    <div class="ob-search-list-row-right" >
                        <div class="ob-search-list-text">
                            <span class="ob-search-list-text-title ob-blue-color">{{item.username}}{{item.name}}</span>,
                            <span class="ob-search-list-profession">{{item.profession}}{{item.category.name}}</span>
                            <span class="ob-search-list-distance">{{item.distance | number:1}}km</span>
                        </div>
                        <div class="ob-search-list-stars" ng-show="$root.header != 'Events' && (item.sizes.numOfReviews == undefined || item.sizes.numOfReviews == 0)">
                            No Ratings Yet
                        </div>
                        <div class="ob-search-list-stars" ng-show="item.sizes.numOfReviews >= 0">
                            <!--<span class="ob-search-list-star" ng-show="item.sizes."></span>-->
                            <!--<span class="ob-search-list-star"></span>-->
                            <!--<span class="ob-search-list-star"></span>-->
                            <!--<span class="ob-search-list-star"></span>-->
                            <!--<span class="ob-search-list-star"></span>-->

                            <img class="profile-review-star" src="img/professional-profile/blue-star-single.png"/>
                            <img class="profile-review-star" ng-hide="item.sizes.rating/item.sizes.numOfReviews > 1.4" src="img/professional-profile/white-star-single.png"/>
                            <img class="profile-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 1.4" src="img/professional-profile/blue-star-single.png"/>
                            <img class="profile-review-star" ng-hide="item.sizes.rating/item.sizes.numOfReviews > 2.4" src="img/professional-profile/white-star-single.png"/>
                            <img class="profile-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 2.4" src="img/professional-profile/blue-star-single.png"/>
                            <img class="profile-review-star" ng-hide="item.sizes.rating/item.sizes.numOfReviews > 3.4" src="img/professional-profile/white-star-single.png"/>
                            <img class="profile-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 3.4" src="img/professional-profile/blue-star-single.png"/>
                            <img class="profile-review-star" ng-hide="item.sizes.rating/item.sizes.numOfReviews > 4.4" src="img/professional-profile/white-star-single.png"/>
                            <img class="profile-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 4.4" src="img/professional-profile/blue-star-single.png"/>
                        </div>
                    </div>
                </a>
            </div>
        </ion-content>

    </ion-content>
</ion-view>
