<link rel="stylesheet" type="text/css" href="/css/menu.css">
<ion-side-menus>
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-view>
            <ion-content>
                <a ng-show="showWarning" ng-click="warningClick()" animation="fade-in" id="warningMsg" class="button button-block">
                    <p>{{warningMsg}}</p>
                </a>
            </ion-content>
        </ion-view>
        <ion-nav-view name="menu"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left" class="ob-sidemenu">
        <div class="bar bar-header ob-dark-bg ob-sidemenu-header">
            <div class="ob-sidemenu-header-content">
                <div class="ob-sidemenu-header-inner-content">
                    <img class="ob-sidemenu-usericon" src="/img/tmp/SoulCycle-Logo.png"/>
                    <span class="ob-sidemenu-title">SoulCycle</span>
                    <img class="ob-sidemenu-cog" src="/img/tmp/Cog.png"/>
                </div>
                <div class="ob-sidemenu-header-bottom-divider"></div>
            </div>
        </div>
        <ion-content class="ob-sidemenu-tabs ob-dark-bg" scrollbar-x="false" scrollbar-y="false">
            <ul>
                <a ng-click ="toggleMenu()" href="#/menu/map" class="item menu-font"><b>MapView</b></a>
                <a ng-click ="toggleMenu()" href="#/menu/Trainers" class="item menu-font"><b>ListView</b></a>
                <a ng-click ="toggleMenu()" href="#/menu/account/payment-method"  class="item menu-font"><b>Payment Method</b></a>
                <a ng-click ="toggleMenu()" href="#/menu/account/my-profile" class="item menu-font"><b>My Profile</b></a>
                <a ng-click ="toggleMenu()" href="#/menu/account/my-events" class="item menu-font"><b>My Events</b></a>
                <a ng-click ="toggleMenu()" href="#/menu/account/qrcode/a" class="item menu-font"><b>My QRcode</b></a>
                <a ng-click ="toggleMenu()" href="#/menu/account/my-requests" class="item menu-font"><b>My Requests</b></a>
                <a ng-click ="toggleMenu()" href="#/menu/account/buy-tokens" class="item menu-font"><b>Buy Tokens</b></a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/my-schedule"  class="item menu-font"><b>My Schedule</b></a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/my-money"  class="item menu-font"><b>My Money</b></a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/set-location" class="item menu-font"><b>Set Location</b></a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/scan" class="item menu-font"><b>Scan Client</b></a>
                <a ng-show="$root.user.admin == 1" ng-click ="toggleMenu()" href="#/menu/editclass/new" class="item menu-font"><b>Add Class</b></a>
                <a ng-show="$root.user.admin == 1" ng-click ="toggleMenu()" href="#/menu/editgym/new" class="item menu-font"><b>Add Gym</b></a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/requested-sessions" class="item menu-font"><b>Mobile Session Requests</b></a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
