<ion-side-menus>
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-view>
            <ion-content>
                <a ng-show="showWarning" ng-click="warningClick()" animation="fade-in" id="warningMsg" class="button button-block">
                    <p>{{warningMsg}}</p>
                </a>
            </ion-content>
        </ion-view>
        <ion-nav-view name="menu"></ion-nav-view>
    </ion-pane>
    <ion-side-menu side="left" class="ob-sidemenu">
        <div class="ob-darkpurple-bg ob-sidemenu-header">
            <div class="ob-sidemenu-header-content" ng-click="toggleMenu()">
                <div class="ob-sidemenu-header-inner-content">
                    <a class="ob-sidemenu-usericon-container" href="#/menu/account/my-profile">
                        <img class="ob-sidemenu-usericon" src="{{$root.user.profilepic}}"/>
                    </a>
                    <a class="ob-sidemenu-title" href="#/menu/account/my-profile">{{$root.user.username}}</a>
                    <a class="ob-sidemenu-cog-container" href="#/menu/account/settings" ng-click="toggleMenu()">
                        <img class="ob-sidemenu-cog" src="img/tmp/Cog.png"/>
                    </a>
                </div>
                <div class="ob-sidemenu-header-bottom-divider"></div>
            </div>
        </div>
        <ion-content class="ob-sidemenu-tabs ob-darkpurple-bg" scrollbar-x="false" scrollbar-y="false">
            <ul>
                <a ng-click ="toggleMenu()" href="#/menu/map" class="item menu-font">Map</a>
                <a ng-click ="toggleMenu()" href="#/menu/my-events" class="item menu-font">My Events</a>
                <a ng-click ="toggleMenu()" href="#/menu/account/my-requests" class="item menu-font">My Requests</a>
                <a ng-click ="toggleMenu()" href="#/menu/account/my-transactions" class="item menu-font">My Booked Sessions</a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/requested-sessions" class="item menu-font">Requests Inbox</a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/my-schedule" class="item menu-font">My Schedule</a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/scan" class="item menu-font">Scan QR Code</a>
                <a ng-show="$root.user.group == 'Trainers'" ng-click ="toggleMenu()" href="#/menu/account/set-location" class="item menu-font">My Location</a>
                <a ng-show="$root.user.admin == 1" ng-click ="toggleMenu()" href="#/menu/editgym/new" class="item menu-font">Create Gym</a>
                <a ng-show="$root.user.admin == 1" ng-click ="toggleMenu()" href="#/menu/editclass/new" class="item menu-font">Create Class</a>
                <a ng-click ="toggleMenu()" href="#/menu/account/buy-tokens" class="item menu-font">Buy Tokens</a>
                <a ng-click ="logout()" class="item menu-font">Logout</a>
            </ul>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
