<ion-view>
    <ion-nav-title><span class="ob-nav-bar-logo"></span></ion-nav-title>
    <ion-content>
        <div>
            <!--<calendar selected="selected" slotsbooked="slotsbooked" rulesopen="rulesopen" slotsopen="slotsopen" goto="goto" next="next" previous="previous" type="type"></calendar>-->
            <div id="calendar" class="calendar"></div>
        </div>
        <div class="ob-block-button ob-button-blue" ng-click="accountingThisMonth()">Monthly Report</div>
    </ion-content>
</ion-view>
