<div class="list infowindow-list">
    <!--<a ng-repeat="(key, item) in array" ng-if="markers[val].items.indexOf(key) > -1" class="map-bubble-content-container" href="#/menu/Class/{{item.$id}}">-->
    <a class="map-bubble-content-container" href="#/menu/Gym/{{item.$id}}">
        <div class="map-bubble-content">
            <div class="map-bubble-img-column">
                <span class="map-bubble-img-container">
                    <img class="map-bubble-img" src="https://s3.amazonaws.com/com.onebody.profile/Classes/{{item.$id | htmlEncode}}/profilepic.jpg"/> <!--src="{{item.imgLink}}"-->
                    <img src="img/badge-class.png" class="map-bubble-img-badge"/>
                </span>
            </div>
            <div class="map-bubble-text-column map-bubble-text-column-class">
                <div class="map-bubble-title">{{item.name}}</div> <!--{{item.imgLink}}-->
                <div class="map-bubble-subtitle">{{item.information}}</div>
                <div class="map-bubble-time">Starts Thursday May 15</div>
                <!--<div class="map-bubble-review-stars">-->
                    <!--<img class="map-bubble-review-star" id="map-bubble-review-star-1" src="img/map/review-star.png"/>-->
                    <!--<img class="map-bubble-review-star" id="map-bubble-review-star-2" src="img/map/review-star.png"/>-->
                    <!--<img class="map-bubble-review-star" id="map-bubble-review-star-3" src="img/map/review-star.png"/>-->
                    <!--<img class="map-bubble-review-star" id="map-bubble-review-star-4" src="img/map/review-star.png"/>-->
                    <!--<img class="map-bubble-review-star" id="map-bubble-review-star-5" src="img/map/review-star.png"/>-->
                <!--</div>-->
                <!--<div class="map-bubble-organizer">Organizer: <span class="map-bubble-organizer-name">Jane Fass</span></div>-->
                <div class="map-bubble-distance">{{item.distance | number:1}}</div>
            </div>
        </div>
    </a>
    <!--
    <div class="list card">
        <div class="item item-avatar">
            <img src="' + obj.profilepic + '">
            <h2>' + obj.name + '</h2>
            <p>' + obj.commentlocation + '</p>
            <div class="item item-body">
                <a ng-repeat="item in markers[val].items" class="item item-avatar" href="#/menu/Classes/{{item.$id}}">
                    <img src="img/mcfly.jpg">
                    <h2>{{item.name}}</h2>
                    <p>Info: {{item.information}}</p>
                </a>
            </div>
        </div>
    </div>
    -->
</div>
