<div class="list infowindow-list">
    <div class="map-bubble-title">{{gym.name}}</div>
    <div class="map-bubble-distance">{{gym.distance | number:1}}km</div>
    <a ng-repeat="item in items | limitTo:2" class="map-bubble-content-container" href="#/menu/{{gym.tab}}/{{item.$id}}{{item.classID}}/{{gym.$id}}">
        <div class="map-bubble-content">
            <div class="map-bubble-img-column">
                <span class="map-bubble-img-container">
                    <img class="map-bubble-img" src="https://s3.amazonaws.com/com.onebody.profile/{{gym.type}}/{{item.$id | htmlEncode}}{{item.classID | htmlEncode}}/profilepic.jpg"/>
                    <img ng-show="gym.tab == 'Classes'" src="img/badge-class.png" class="map-bubble-img-badge"/>
                    <img ng-show="gym.type == 'Users'" src="img/badge-professional.png" class="map-bubble-img-badge"/>
                </span>
            </div>
            <div class="map-bubble-text-column map-bubble-text-column-class">
                <div class="map-bubble-title">{{item.name}}{{item.username}}</div>
                <div class="map-bubble-subtitle">{{item.information}}</div>
                <div class="map-bubble-subtitle">{{item.address}}</div>
                <!--<div class="map-bubble-time">Starts Thursday May 15</div>-->
                <span ng-show="item.sizes.numOfReviews == undefined || item.sizes.numOfReviews == 0"
                      class="map-bubble-subtitle">No Ratings Yet</span>
                <div class="map-bubble-review-stars">
                    <span class="map-bubble-review-star" ng-show="item.sizes.numOfReviews > 0" id="map-bubble-review-star-1"></span>
                    <span class="map-bubble-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 1.4" id="map-bubble-review-star-2"></span>
                    <span class="map-bubble-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 2.4" id="map-bubble-review-star-3"></span>
                    <span class="map-bubble-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 3.4" id="map-bubble-review-star-4"></span>
                    <span class="map-bubble-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 4.4" id="map-bubble-review-star-5"></span>
                </div>
                <!--<div class="map-bubble-organizer">Organizer: <span class="map-bubble-organizer-name">Jane Fass</span></div>-->
            </div>
        </div>
    </a>
    <div class="map-bubble-title"></div>
</div>
