<div class="list infowindow-list">
    <div class="map-bubble-title">{{gym.name}}</div>
    <div class="map-bubble-title">{{gym.tab}}</div>
    <div class="map-bubble-distance">{{gym.distance | number:1}}km</div>
    <a ng-repeat="item in items | limitTo:2" class="map-bubble-content-container" href="#/menu/{{gym.tab}}/{{item.userID}}">
        <div class="map-bubble-content">
            <div class="map-bubble-img-column">
                <span class="map-bubble-img-container">
                    <img class="map-bubble-img" src="{{item.profilepic}}"/>
                    <img ng-show="gym.tab == 'Classes'" src="img/badge-class.png" class="map-bubble-img-badge"/>
                    <img ng-show="gym.tab == 'Trainers'" src="img/badge-professional.png" class="map-bubble-img-badge"/>
                </span>
            </div>
            <div class="map-bubble-text-column map-bubble-text-column-class">
                <div class="map-bubble-title">{{item.name}}{{item.username}}</div>
                <div class="map-bubble-subtitle">{{item.information}}</div>
                <div class="map-bubble-subtitle">{{item.address}}</div>
                <!--<div class="map-bubble-time">Starts Thursday May 15</div>-->
                <div class="map-bubble-review-stars">
                    <img class="map-bubble-review-star" id="map-bubble-review-star-1" src="img/map/review-star.png"/>
                    <img class="map-bubble-review-star" id="map-bubble-review-star-2" src="img/map/review-star.png"/>
                    <img class="map-bubble-review-star" id="map-bubble-review-star-3" src="img/map/review-star.png"/>
                    <img class="map-bubble-review-star" id="map-bubble-review-star-4" src="img/map/review-star.png"/>
                    <img class="map-bubble-review-star" id="map-bubble-review-star-5" src="img/map/review-star.png"/>
                </div>
                <!--<div class="map-bubble-organizer">Organizer: <span class="map-bubble-organizer-name">Jane Fass</span></div>-->
            </div>
        </div>
    </a>
    <div class="map-bubble-title"></div>
</div>
