<ion-popover-view>
    <!--<ion-header-bar>-->
        <!--<h1 class="title">Search</h1>-->
    <!--</ion-header-bar>-->
    <ion-content>
        <div class="list">
            <ion-toggle ng-model="searchContainer.mobile_trainers" toggle-class="toggle-calm">Mobile Trainers</ion-toggle>

            <div class="button-bar">
                <button class="button button-dark" ng-click="closePopover()">
                    close
                </button>
                <button class="button button-dark" ng-click="searchMobileTrainers()">
                    search
                </button>
            </div>

            <div class="button-bar">
                <a class="button button-calm" href="#/menu/Mobile-Trainer-Request">
                    Mobile training request
                </a>
                <a class="button button-calm">
                    what is this?
                </a>
            </div>

        </div>
    </ion-content>
</ion-popover-view>