<ion-popover-view class="fit">
    <ion-content scroll="false">
        <!--<label class="item item-input ob-popover-row ob-popover-label">-->
            <!--<div class="input-label ob-popover-prompt">Distance (km)</div>-->
            <!--<input type="text"-->
                   <!--class="ob-popover-textinput"-->
                   <!--ng-blur="searchMap()"-->
                   <!--ng-enter="searchMap()"-->
                   <!--ng-model="searchContainer.searchRadius"-->
                   <!--placeholder="(default 30)"/>-->
        <!--</label>-->
        <label class="item item-input item-select ob-popover-row ob-popover-label"
               ng-show="header=='Events' || header=='Classes'">
            <div class="input-label ob-popover-prompt">Category</div>
            <select ng-change="searchCategory()"
                    ng-model="searchContainer.selectedCategory"
                    ng-options="category.name for category in categories">
            </select>
        </label>
        <label class="item item-input ob-popover-row ob-popover-label"
               ng-click="goTo('#/menu/Mobile-Trainer-Request')">
            <div class="input-label ob-popover-prompt">Request Mobile Trainer</div>
            <i class="icon ion-chevron-right ob-ionicon-xs"></i>
        </label>
        <ion-toggle class="ob-popover-row ob-toggle"
                    ng-show="header =='Users'"
                    ng-model="searchContainer.mobile_trainers"
                    ng-change="searchMobileTrainers()"
                    toggle-class="toggle-positive">Mobile Trainers Only</ion-toggle>
        <!--<ion-toggle class="ob-popover-row ob-toggle"-->
                    <!--ng-model="searchContainer.redo_search"-->
                    <!--toggle-class="toggle-positive">Redo Search on Move</ion-toggle>-->
        <!--<button class="ob-button ob-button-blue" ng-click="closePopover()">close</button>-->
    </ion-content>
</ion-popover-view>
