<ion-popover-view class="fit">
    <ion-content scroll="false">
        <ion-toggle class="ob-toggle" ng-model="searchContainer.mobile_trainers" ng-change="searchMobileTrainers()" toggle-class="toggle-dark">Mobile Trainers</ion-toggle>
        <ion-toggle class="ob-toggle"ng-model="searchContainer.redo_search" toggle-class="toggle-dark">Redo Search</ion-toggle>
        <!--<button class="button button-dark" ng-click="closePopover()">close</button>-->
        <button class="ob-block-button ob-button-blue ob-block-button-small" ng-click="searchMobileTrainers()">Search Now</button>
    </ion-content>
</ion-popover-view>
