<div class="list infowindow-list">
    <a class="map-bubble-content-container" href="#/menu/Trainers/{{item.$id}}/">
        <div class="map-bubble-content">
            <div class="map-bubble-img-column">
                <span class="map-bubble-img-container">
                    <img class="map-bubble-img" src="https://s3.amazonaws.com/com.onebody.profile/Users/{{item.$id | htmlEncode}}/profilepic.jpg"/>
                    <img src="img/badge-professional.png" class="map-bubble-img-badge"/>
                </span>
            </div>
            <div class="map-bubble-text-column map-bubble-text-column-trainer">
                <div class="map-bubble-title">{{item.username}}</div>
                <div class="map-bubble-subtitle">Trainer</div>
                <div class="map-bubble-review-stars">
                    <span class="map-bubble-review-star" id="map-bubble-review-star-1"></span>
                    <span class="map-bubble-review-star" id="map-bubble-review-star-2"></span>
                    <span class="map-bubble-review-star" id="map-bubble-review-star-3"></span>
                    <span class="map-bubble-review-star" id="map-bubble-review-star-4"></span>
                    <span class="map-bubble-review-star" id="map-bubble-review-star-5"></span>
                </div>
                <div class="map-bubble-distance">{{item.distance | number:1}} km</div>
            </div>
        </div>
    </a>
</div>
