<div class="list infowindow-list">
    <a class="map-bubble-content-container" href="#/menu/Trainers/{{item.$id}}/">
        <div class="map-bubble-content">
            <div class="map-bubble-img-column">
                <span class="map-bubble-img-container">
                    <img class="map-bubble-img" src="https://s3.amazonaws.com/com.onebody.profile/Users/{{item.$id | htmlEncode}}/profilepic.jpg" onerror="this.style.display='none'"/>
                    <img src="img/badge-professional.png" class="map-bubble-img-badge"/>
                </span>
            </div>
            <div class="map-bubble-text-column map-bubble-text-column-trainer">
                <div class="map-bubble-title">{{item.username}}</div>
                <div class="map-bubble-subtitle">Trainer</div>
                <span ng-show="item.sizes.numOfReviews == undefined || item.sizes.numOfReviews == 0"
                      class="map-bubble-subtitle">No Ratings Yet</span>
                <div class="map-bubble-review-stars" ng-show="item.sizes.numOfReviews > 0">
                    <span class="map-bubble-review-star" ng-show="item.sizes.numOfReviews > 0" id="map-bubble-review-star-1"></span>
                    <span class="map-bubble-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 1.4" id="map-bubble-review-star-2"></span>
                    <span class="map-bubble-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 2.4" id="map-bubble-review-star-3"></span>
                    <span class="map-bubble-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 3.4" id="map-bubble-review-star-4"></span>
                    <span class="map-bubble-review-star" ng-show="item.sizes.rating/item.sizes.numOfReviews > 4.4" id="map-bubble-review-star-5"></span>

                </div>
                <div class="map-bubble-distance">{{item.distance | number:1}} km</div>
            </div>
        </div>
    </a>
</div>
