
.register-class-content1 {
    background: url("../img/Blue-Top-Gradient.png") center top/100% 34.243% no-repeat,
                url("../img/register-class/tmp/background-blur.png") center/100% 100% no-repeat,
                url("../img/sign-up/Background-Image.png") center/100% 100% no-repeat;
}

.register-class-content1-div {
    border: 1px solid transparent;
}

.main-instructions {
    width: 264px;
    margin: 23px auto 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.sub-instructions {
    width: 200px;
    margin: 10px auto 43px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.profile-picture-div {
    position: relative;
    margin: 20px auto 0px;
    width: 90px;
    height: 90px;
}

.profile-picture {
    width: 100%;
    height: 100%;
}

.profile-picture-tag {
    position: absolute;
    width: 30%;
    height: 30%;
    left: 65%;
    top: 0%;
}

.ob-form {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #7f7b73;
    margin: 40px 9px 0px;
}

.ob-form-row {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #7f7b73;
}

.ob-form-row:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.ob-form-row:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: none;
}

.ob-form-switch {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    height: 42.5px;
}

.ob-form-switch-button {
    flex: 1 1 50px;
    width: 50%;
    background: transparent;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.5px;
    color: white;
    border: none;
    border-right: 1px solid #7f7b73;
}

.ob-form-switch-button:last-child {
    border-right: none;
}

.ob-form-switch-button:active {
    background: white;
    color: black;
}

.ob-form-switch-button:active:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.ob-form-switch-button:active:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.top-lined-text-block {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: stretch;
    -webkit-align-items-stretch;
    align-items: stretch;
    width: 100%;
    margin: 28px 0px 0px;
    border-top: 1px solid white;
}

.top-lined-text-block-left {
    flex: 1 1 0px;
    padding: 14px 0px 0px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 30px;
    color: white;
    text-align: right;
}

.top-lined-text-block-middle {
    flex: 0 0 215px;
    padding: 9px 2px 0px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
}

.top-lined-text-block-right {
    flex: 1 1 0px;
}

.block-blue-button {
    display: block;
    width: 301px;
    border-radius: 5px;
    border: none;
    background-color: #3884ed;
    margin: 22px auto 11px;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.69px;
    color: white;
    padding: 8px 0px;
}

.block-blue-button:active {
    background-color: #3172cc;
}

.block-transparent-button {
    display: block;
    margin: 0px auto;
    background: transparent;
    border: none;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    color: white;
}

.block-transparent-button:active {
    color: #888888;
}
