.register-class-content1 {
    background: url("../img/Blue-Top-Gradient.png") center top/100% 34.243% no-repeat,
                url("../img/register-class/tmp/background-blur.png") center/100% 100% no-repeat,
                url("../img/register-class/tmp/background-view.png") center/100% 100% no-repeat;
}

.register-class-content1-div {
    position: relative;
}

.register-class-inner-content1 {
    height: calc(100% - 44px);
}

.main-instructions {
    width: 184px;
    margin: 23px auto 0px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.sub-instructions {
    width: 200px;
    margin: 10px auto 76px;
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    color: white;
    text-align: center;
}

.locations-box {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    color: white;
    padding: 19px 0px 19px;
    border-bottom: 1px solid white;
}

.locations-text {
    flex: 0 0 auto;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;

    padding: 0px 6px 0px 12px;
}

.locations-tags {
    flex: 99 99 auto;
}

.locations-tag {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 13.795px;
    border: 1px solid white;
    border-radius: 14px;
    padding: 8px;
    margin: 0px 3px 0px 3px;
}

.locations-tag:active {
    background-color: white;
}

.locations-distance {
    flex: 0 0 auto;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 15px;
    padding: 0px 12px 0px 6px;
}

.sub-instructions {
    margin-bottom: 2px;
}

.date-div {
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    color: white;
    padding: 15px 12px;
    border-bottom: 1px solid white;
}

.date {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    border-bottom: 1px solid #3988f6;
    margin: 0px 4px;
}

.time-slots-class {

}

.time-slot-class {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    color: white;
    padding: 15px 7px;
    border-bottom: 1px solid #a3a2a1;
}

.time-slot-class-main-column {
    flex: 99 99 auto;
}

.time-slot-class-title {
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
}

.time-slot-class-description {

}

.time-slot-class-time {
    margin-top: 19px;
}

.time-slot-class-spots-left {
    margin-left: 2px;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    color: #3988f6;
}

.time-slot-class-check-column {
    flex: 0 0 47px;
    text-align: center;
}

.time-slot-class-check {
    display: inline-block;
    width: 31px;
    height: 31px;
    margin: auto;
    vertical-align: middle;
}

.time-slots-prof {

}

.time-slot-prof {
    height: 53px;
    border-bottom: 1px solid #9fa0a2;
}

.time-slot-prof-time {
    float: left;
    margin: 19px 8px 0px;
    font-family: 'Avenir Next LT Pro', sans-serif;
    font-size: 15px;
    color: white;
}

.time-slot-prof-checkable {
    position: relative;
    float: right;
    margin: 11px 8px 0px 0px;
    padding: 0px;
    width: 33px;
    height: 33px;
    background: transparent;
}

.time-slot-prof-check {
    width: 31px;
    height: 31px;
    padding: 0px;
    margin: 0px;
}

.time-slot-prof-no-check {
    width: 31px;
    height: 31px;
    padding: 0px;
    margin: 0px;
    border: 1px solid white;
    border-radius: 15px;
}

.time-slot-prof-checkable-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: transparent;
    border: none;
    border-radius: 50%;
}

.time-slot-prof-checkable-overlay:active {
    background: white;
}

.footer-button {
    position: absolute;
    bottom: 0px;
    height: 44px;
    line-height: 44px;
    width: 100%;
    background-color: black;
    font-family: 'AvenirNextLTPro-Demi', sans-serif;
    font-size: 16.7px;
    color: white;
    text-align: center;
    z-index: 100;
}

.footer-button:active {
    background-color: #222222;
}
